<!doctype html>
<html lang="en-US" class="default">

<head>


    <meta charset="utf-8">


    <meta http-equiv="x-ua-compatible" content="ie=edge">



    <title>Postal Office</title>



    <meta name="description" content="Shop powered by PrestaShop">
    <meta name="keywords" content="">

    <link rel="alternate" href="https://demo74.leotheme.com/prestashop/leo_stationero_demo/en/module/appagebuilder/appagebuilderhome?module=appagebuilder" hreflang="en-us">
    <link rel="alternate" href="https://demo74.leotheme.com/prestashop/leo_stationero_demo/fr/module/appagebuilder/appagebuilderhome?module=appagebuilder" hreflang="fr-fr">
    <link rel="alternate" href="https://demo74.leotheme.com/prestashop/leo_stationero_demo/de/module/appagebuilder/appagebuilderhome?module=appagebuilder" hreflang="de-de">
    <link rel="alternate" href="https://demo74.leotheme.com/prestashop/leo_stationero_demo/it/module/appagebuilder/appagebuilderhome?module=appagebuilder" hreflang="it-it">
    <link rel="alternate" href="https://demo74.leotheme.com/prestashop/leo_stationero_demo/es/module/appagebuilder/appagebuilderhome?module=appagebuilder" hreflang="es-es">
    <link rel="alternate" href="https://demo74.leotheme.com/prestashop/leo_stationero_demo/ar/module/appagebuilder/appagebuilderhome?module=appagebuilder" hreflang="ar-sa">

    <meta property="og:title" content="Leo Stationero" />
    <meta property="og:description" content="Shop powered by PrestaShop" />
    <meta property="og:url" content="https://demo74.leotheme.com/prestashop/leo_stationero_demo/en/home-01.html" />
    <meta property="og:site_name" content="Leo Stationero" />
    <meta property="og:type" content="website" />



    <meta name="viewport" content="width=device-width, initial-scale=1">



    <link rel="icon" type="image/vnd.microsoft.icon" href="https://demo74leotheme.b-cdn.net/prestashop/leo_stationero_demo/img/favicon.ico?1631178759">
    <link rel="shortcut icon" type="image/x-icon" href="https://demo74leotheme.b-cdn.net/prestashop/leo_stationero_demo/img/favicon.ico?1631178759">




    <link rel="stylesheet" href="https://demo74leotheme.b-cdn.net/prestashop/leo_stationero_demo/themes/leo_stationero/assets/cache/theme-7a533213.css" type="text/css" media="all">








    <script type="text/javascript">
        var LEO_COOKIE_THEME = "LEO_STATIONERO_PANEL_CONFIG";
        var add_cart_error = "An error occurred while processing your request. Please try again";
        var ajaxsearch = "1";
        var approfile_multilang_url = [{ "id_appagebuilder_profiles": "23", "name": "Home 01", "id_lang": "1", "friendly_url": "home-01", "iso_code": "en" }, { "id_appagebuilder_profiles": "23", "name": "Home 01", "id_lang": "2", "friendly_url": "home-01", "iso_code": "fr" }, { "id_appagebuilder_profiles": "23", "name": "Home 01", "id_lang": "3", "friendly_url": "home-01", "iso_code": "de" }, { "id_appagebuilder_profiles": "23", "name": "Home 01", "id_lang": "4", "friendly_url": "home-01", "iso_code": "it" }, { "id_appagebuilder_profiles": "23", "name": "Home 01", "id_lang": "5", "friendly_url": "home-01", "iso_code": "es" }, { "id_appagebuilder_profiles": "23", "name": "Home 01", "id_lang": "6", "friendly_url": "home-01", "iso_code": "ar" }];
        var buttoncompare_title_add = "Add to Compare";
        var buttoncompare_title_remove = "Remove from Compare";
        var buttonwishlist_title_add = "Add to Wishlist";
        var buttonwishlist_title_remove = "Remove from WishList";
        var cancel_rating_txt = "Cancel Rating";
        var comparator_max_item = 3;
        var compared_products = [];
        var data_product_popup = [{ "image": "https:\/\/demo74leotheme.b-cdn.net\/prestashop\/leo_stationero_demo\/58-cart_default\/hummingbird-printed-t-shirt.jpg", "title": "Bankers Box Blue\/White Heavy Duty Maxi Storage Box", "url": "https:\/\/demo74.leotheme.com\/prestashop\/leo_stationero_demo\/en\/paper\/1-hummingbird-printed-t-shirt.html", "id_product": "1", "time": "Puchare By JDOE 14 minutes ago", "phone": "xxx2030405", "address": "16, Main street Paris " }, { "image": "https:\/\/demo74leotheme.b-cdn.net\/prestashop\/leo_stationero_demo\/27-cart_default\/brown-bear-printed-sweater.jpg", "title": "Guildhall Pre-Printed HR File Yellow (Pack of 50)", "url": "https:\/\/demo74.leotheme.com\/prestashop\/leo_stationero_demo\/en\/writing-supplies\/2-brown-bear-printed-sweater.html", "id_product": "2", "time": "Puchare By JDOE 5 minutes ago", "phone": "xxx2030405", "address": "16, Main street Paris " }, { "image": "https:\/\/demo74leotheme.b-cdn.net\/prestashop\/leo_stationero_demo\/28-cart_default\/the-adventure-begins-framed-poster.jpg", "title": "Collins Elite Refill Week to View Manager", "url": "https:\/\/demo74.leotheme.com\/prestashop\/leo_stationero_demo\/en\/office-supplies-and-stationery\/4-the-adventure-begins-framed-poster.html", "id_product": "4", "time": "Puchare By JDOE 7 minutes ago", "phone": "xxx2030405", "address": "16, Main street Paris " }, { "image": "https:\/\/demo74leotheme.b-cdn.net\/prestashop\/leo_stationero_demo\/36-cart_default\/mug-today-is-a-good-day.jpg", "title": "Canon PIXMA Inkjet Printer G7050", "url": "https:\/\/demo74.leotheme.com\/prestashop\/leo_stationero_demo\/en\/writing-supplies\/8-mug-today-is-a-good-day.html", "id_product": "8", "time": "Puchare By JDOE 18 minutes ago", "phone": "xxx2030405", "address": "16, Main street Paris " }, { "image": "https:\/\/demo74leotheme.b-cdn.net\/prestashop\/leo_stationero_demo\/51-cart_default\/mountain-fox-notebook.jpg", "title": "Westcott Wooden Scissor Block", "url": "https:\/\/demo74.leotheme.com\/prestashop\/leo_stationero_demo\/en\/writing-supplies\/16-mountain-fox-notebook.html", "id_product": "16", "time": "Puchare By JDOE 32 minutes ago", "phone": "xxx2030405", "address": "16, Main street Paris " }, { "image": "https:\/\/demo74leotheme.b-cdn.net\/prestashop\/leo_stationero_demo\/40-cart_default\/brown-bear-cushion.jpg", "title": "Parker Jotter Blue Stainless Steel Chrome Ballpoint Pen", "url": "https:\/\/demo74.leotheme.com\/prestashop\/leo_stationero_demo\/en\/office-supplies-and-stationery\/10-brown-bear-cushion.html", "id_product": "10", "time": "Puchare By JDOE 9 minutes ago", "phone": "xxx2030405", "address": "16, Main street Paris " }, { "image": "https:\/\/demo74leotheme.b-cdn.net\/prestashop\/leo_stationero_demo\/30-cart_default\/today-is-a-good-day-framed-poster.jpg", "title": "CEP Pro Gloss W143 x D158 x H93mm Desk Tidy", "url": "https:\/\/demo74.leotheme.com\/prestashop\/leo_stationero_demo\/en\/office-supplies-and-stationery\/5-today-is-a-good-day-framed-poster.html", "id_product": "5", "time": "Puchare By JDOE 42 minutes ago", "phone": "xxx2030405", "address": "16, Main street Paris " }, { "image": "https:\/\/demo74leotheme.b-cdn.net\/prestashop\/leo_stationero_demo\/42-cart_default\/hummingbird-cushion.jpg", "title": "Parker Quink Permanent Ink Bottle Blue", "url": "https:\/\/demo74.leotheme.com\/prestashop\/leo_stationero_demo\/en\/stationery\/11-hummingbird-cushion.html", "id_product": "11", "time": "Puchare By JDOE 20 minutes ago", "phone": "xxx2030405", "address": "16, Main street Paris " }, { "image": "https:\/\/demo74leotheme.b-cdn.net\/prestashop\/leo_stationero_demo\/58-cart_default\/hummingbird-printed-t-shirt.jpg", "title": "Bankers Box Blue\/White Heavy Duty Maxi Storage Box", "url": "https:\/\/demo74.leotheme.com\/prestashop\/leo_stationero_demo\/en\/paper\/1-hummingbird-printed-t-shirt.html", "id_product": "1", "time": "Puchare By JDOE 40 minutes ago", "phone": "xxx2030405", "address": "16, Main street Miami" }, { "image": "https:\/\/demo74leotheme.b-cdn.net\/prestashop\/leo_stationero_demo\/27-cart_default\/brown-bear-printed-sweater.jpg", "title": "Guildhall Pre-Printed HR File Yellow (Pack of 50)", "url": "https:\/\/demo74.leotheme.com\/prestashop\/leo_stationero_demo\/en\/writing-supplies\/2-brown-bear-printed-sweater.html", "id_product": "2", "time": "Puchare By JDOE 2 minutes ago", "phone": "xxx2030405", "address": "16, Main street Miami" }, { "image": "https:\/\/demo74leotheme.b-cdn.net\/prestashop\/leo_stationero_demo\/28-cart_default\/the-adventure-begins-framed-poster.jpg", "title": "Collins Elite Refill Week to View Manager", "url": "https:\/\/demo74.leotheme.com\/prestashop\/leo_stationero_demo\/en\/office-supplies-and-stationery\/4-the-adventure-begins-framed-poster.html", "id_product": "4", "time": "Puchare By JDOE 9 minutes ago", "phone": "xxx2030405", "address": "16, Main street Miami" }, { "image": "https:\/\/demo74leotheme.b-cdn.net\/prestashop\/leo_stationero_demo\/36-cart_default\/mug-today-is-a-good-day.jpg", "title": "Canon PIXMA Inkjet Printer G7050", "url": "https:\/\/demo74.leotheme.com\/prestashop\/leo_stationero_demo\/en\/writing-supplies\/8-mug-today-is-a-good-day.html", "id_product": "8", "time": "Puchare By JDOE 29 minutes ago", "phone": "xxx2030405", "address": "16, Main street Miami" }, { "image": "https:\/\/demo74leotheme.b-cdn.net\/prestashop\/leo_stationero_demo\/51-cart_default\/mountain-fox-notebook.jpg", "title": "Westcott Wooden Scissor Block", "url": "https:\/\/demo74.leotheme.com\/prestashop\/leo_stationero_demo\/en\/writing-supplies\/16-mountain-fox-notebook.html", "id_product": "16", "time": "Puchare By JDOE 57 minutes ago", "phone": "xxx2030405", "address": "16, Main street Miami" }, { "image": "https:\/\/demo74leotheme.b-cdn.net\/prestashop\/leo_stationero_demo\/40-cart_default\/brown-bear-cushion.jpg", "title": "Parker Jotter Blue Stainless Steel Chrome Ballpoint Pen", "url": "https:\/\/demo74.leotheme.com\/prestashop\/leo_stationero_demo\/en\/office-supplies-and-stationery\/10-brown-bear-cushion.html", "id_product": "10", "time": "Puchare By JDOE 19 minutes ago", "phone": "xxx2030405", "address": "16, Main street Miami" }, { "image": "https:\/\/demo74leotheme.b-cdn.net\/prestashop\/leo_stationero_demo\/30-cart_default\/today-is-a-good-day-framed-poster.jpg", "title": "CEP Pro Gloss W143 x D158 x H93mm Desk Tidy", "url": "https:\/\/demo74.leotheme.com\/prestashop\/leo_stationero_demo\/en\/office-supplies-and-stationery\/5-today-is-a-good-day-framed-poster.html", "id_product": "5", "time": "Puchare By JDOE 31 minutes ago", "phone": "xxx2030405", "address": "16, Main street Miami" }, { "image": "https:\/\/demo74leotheme.b-cdn.net\/prestashop\/leo_stationero_demo\/42-cart_default\/hummingbird-cushion.jpg", "title": "Parker Quink Permanent Ink Bottle Blue", "url": "https:\/\/demo74.leotheme.com\/prestashop\/leo_stationero_demo\/en\/stationery\/11-hummingbird-cushion.html", "id_product": "11", "time": "Puchare By JDOE 21 minutes ago", "phone": "xxx2030405", "address": "16, Main street Miami" }, { "image": "https:\/\/demo74leotheme.b-cdn.net\/prestashop\/leo_stationero_demo\/58-cart_default\/hummingbird-printed-t-shirt.jpg", "title": "Bankers Box Blue\/White Heavy Duty Maxi Storage Box", "url": "https:\/\/demo74.leotheme.com\/prestashop\/leo_stationero_demo\/en\/paper\/1-hummingbird-printed-t-shirt.html", "id_product": "1", "time": "Puchare By PNgo Thi Thanh 22 minutes ago", "phone": "xxx7615366", "address": "No. 17, 63\/33\/71 Le Duc Tho, My Dinh 2, Nam Tu Liem Ha Noi" }, { "image": "https:\/\/demo74leotheme.b-cdn.net\/prestashop\/leo_stationero_demo\/27-cart_default\/brown-bear-printed-sweater.jpg", "title": "Guildhall Pre-Printed HR File Yellow (Pack of 50)", "url": "https:\/\/demo74.leotheme.com\/prestashop\/leo_stationero_demo\/en\/writing-supplies\/2-brown-bear-printed-sweater.html", "id_product": "2", "time": "Puchare By PNgo Thi Thanh 54 minutes ago", "phone": "xxx7615366", "address": "No. 17, 63\/33\/71 Le Duc Tho, My Dinh 2, Nam Tu Liem Ha Noi" }, { "image": "https:\/\/demo74leotheme.b-cdn.net\/prestashop\/leo_stationero_demo\/28-cart_default\/the-adventure-begins-framed-poster.jpg", "title": "Collins Elite Refill Week to View Manager", "url": "https:\/\/demo74.leotheme.com\/prestashop\/leo_stationero_demo\/en\/office-supplies-and-stationery\/4-the-adventure-begins-framed-poster.html", "id_product": "4", "time": "Puchare By PNgo Thi Thanh 15 minutes ago", "phone": "xxx7615366", "address": "No. 17, 63\/33\/71 Le Duc Tho, My Dinh 2, Nam Tu Liem Ha Noi" }, { "image": "https:\/\/demo74leotheme.b-cdn.net\/prestashop\/leo_stationero_demo\/36-cart_default\/mug-today-is-a-good-day.jpg", "title": "Canon PIXMA Inkjet Printer G7050", "url": "https:\/\/demo74.leotheme.com\/prestashop\/leo_stationero_demo\/en\/writing-supplies\/8-mug-today-is-a-good-day.html", "id_product": "8", "time": "Puchare By PNgo Thi Thanh 34 minutes ago", "phone": "xxx7615366", "address": "No. 17, 63\/33\/71 Le Duc Tho, My Dinh 2, Nam Tu Liem Ha Noi" }, { "image": "https:\/\/demo74leotheme.b-cdn.net\/prestashop\/leo_stationero_demo\/51-cart_default\/mountain-fox-notebook.jpg", "title": "Westcott Wooden Scissor Block", "url": "https:\/\/demo74.leotheme.com\/prestashop\/leo_stationero_demo\/en\/writing-supplies\/16-mountain-fox-notebook.html", "id_product": "16", "time": "Puchare By PNgo Thi Thanh 24 minutes ago", "phone": "xxx7615366", "address": "No. 17, 63\/33\/71 Le Duc Tho, My Dinh 2, Nam Tu Liem Ha Noi" }, { "image": "https:\/\/demo74leotheme.b-cdn.net\/prestashop\/leo_stationero_demo\/40-cart_default\/brown-bear-cushion.jpg", "title": "Parker Jotter Blue Stainless Steel Chrome Ballpoint Pen", "url": "https:\/\/demo74.leotheme.com\/prestashop\/leo_stationero_demo\/en\/office-supplies-and-stationery\/10-brown-bear-cushion.html", "id_product": "10", "time": "Puchare By PNgo Thi Thanh 6 minutes ago", "phone": "xxx7615366", "address": "No. 17, 63\/33\/71 Le Duc Tho, My Dinh 2, Nam Tu Liem Ha Noi" }, { "image": "https:\/\/demo74leotheme.b-cdn.net\/prestashop\/leo_stationero_demo\/30-cart_default\/today-is-a-good-day-framed-poster.jpg", "title": "CEP Pro Gloss W143 x D158 x H93mm Desk Tidy", "url": "https:\/\/demo74.leotheme.com\/prestashop\/leo_stationero_demo\/en\/office-supplies-and-stationery\/5-today-is-a-good-day-framed-poster.html", "id_product": "5", "time": "Puchare By PNgo Thi Thanh 31 minutes ago", "phone": "xxx7615366", "address": "No. 17, 63\/33\/71 Le Duc Tho, My Dinh 2, Nam Tu Liem Ha Noi" }, { "image": "https:\/\/demo74leotheme.b-cdn.net\/prestashop\/leo_stationero_demo\/42-cart_default\/hummingbird-cushion.jpg", "title": "Parker Quink Permanent Ink Bottle Blue", "url": "https:\/\/demo74.leotheme.com\/prestashop\/leo_stationero_demo\/en\/stationery\/11-hummingbird-cushion.html", "id_product": "11", "time": "Puchare By PNgo Thi Thanh 35 minutes ago", "phone": "xxx7615366", "address": "No. 17, 63\/33\/71 Le Duc Tho, My Dinh 2, Nam Tu Liem Ha Noi" }, { "image": "https:\/\/demo74leotheme.b-cdn.net\/prestashop\/leo_stationero_demo\/58-cart_default\/hummingbird-printed-t-shirt.jpg", "title": "Bankers Box Blue\/White Heavy Duty Maxi Storage Box", "url": "https:\/\/demo74.leotheme.com\/prestashop\/leo_stationero_demo\/en\/paper\/1-hummingbird-printed-t-shirt.html", "id_product": "1", "time": "Puchare By MGUERRERO 23 minutes ago", "phone": "xxx0753416", "address": "calle 3 #3232, col estrella gustavo a madero mexico" }, { "image": "https:\/\/demo74leotheme.b-cdn.net\/prestashop\/leo_stationero_demo\/27-cart_default\/brown-bear-printed-sweater.jpg", "title": "Guildhall Pre-Printed HR File Yellow (Pack of 50)", "url": "https:\/\/demo74.leotheme.com\/prestashop\/leo_stationero_demo\/en\/writing-supplies\/2-brown-bear-printed-sweater.html", "id_product": "2", "time": "Puchare By MGUERRERO 46 minutes ago", "phone": "xxx0753416", "address": "calle 3 #3232, col estrella gustavo a madero mexico" }, { "image": "https:\/\/demo74leotheme.b-cdn.net\/prestashop\/leo_stationero_demo\/28-cart_default\/the-adventure-begins-framed-poster.jpg", "title": "Collins Elite Refill Week to View Manager", "url": "https:\/\/demo74.leotheme.com\/prestashop\/leo_stationero_demo\/en\/office-supplies-and-stationery\/4-the-adventure-begins-framed-poster.html", "id_product": "4", "time": "Puchare By MGUERRERO 38 minutes ago", "phone": "xxx0753416", "address": "calle 3 #3232, col estrella gustavo a madero mexico" }, { "image": "https:\/\/demo74leotheme.b-cdn.net\/prestashop\/leo_stationero_demo\/36-cart_default\/mug-today-is-a-good-day.jpg", "title": "Canon PIXMA Inkjet Printer G7050", "url": "https:\/\/demo74.leotheme.com\/prestashop\/leo_stationero_demo\/en\/writing-supplies\/8-mug-today-is-a-good-day.html", "id_product": "8", "time": "Puchare By MGUERRERO 46 minutes ago", "phone": "xxx0753416", "address": "calle 3 #3232, col estrella gustavo a madero mexico" }, { "image": "https:\/\/demo74leotheme.b-cdn.net\/prestashop\/leo_stationero_demo\/51-cart_default\/mountain-fox-notebook.jpg", "title": "Westcott Wooden Scissor Block", "url": "https:\/\/demo74.leotheme.com\/prestashop\/leo_stationero_demo\/en\/writing-supplies\/16-mountain-fox-notebook.html", "id_product": "16", "time": "Puchare By MGUERRERO 22 minutes ago", "phone": "xxx0753416", "address": "calle 3 #3232, col estrella gustavo a madero mexico" }, { "image": "https:\/\/demo74leotheme.b-cdn.net\/prestashop\/leo_stationero_demo\/40-cart_default\/brown-bear-cushion.jpg", "title": "Parker Jotter Blue Stainless Steel Chrome Ballpoint Pen", "url": "https:\/\/demo74.leotheme.com\/prestashop\/leo_stationero_demo\/en\/office-supplies-and-stationery\/10-brown-bear-cushion.html", "id_product": "10", "time": "Puchare By MGUERRERO 49 minutes ago", "phone": "xxx0753416", "address": "calle 3 #3232, col estrella gustavo a madero mexico" }, { "image": "https:\/\/demo74leotheme.b-cdn.net\/prestashop\/leo_stationero_demo\/30-cart_default\/today-is-a-good-day-framed-poster.jpg", "title": "CEP Pro Gloss W143 x D158 x H93mm Desk Tidy", "url": "https:\/\/demo74.leotheme.com\/prestashop\/leo_stationero_demo\/en\/office-supplies-and-stationery\/5-today-is-a-good-day-framed-poster.html", "id_product": "5", "time": "Puchare By MGUERRERO 15 minutes ago", "phone": "xxx0753416", "address": "calle 3 #3232, col estrella gustavo a madero mexico" }, { "image": "https:\/\/demo74leotheme.b-cdn.net\/prestashop\/leo_stationero_demo\/42-cart_default\/hummingbird-cushion.jpg", "title": "Parker Quink Permanent Ink Bottle Blue", "url": "https:\/\/demo74.leotheme.com\/prestashop\/leo_stationero_demo\/en\/stationery\/11-hummingbird-cushion.html", "id_product": "11", "time": "Puchare By MGUERRERO 54 minutes ago", "phone": "xxx0753416", "address": "calle 3 #3232, col estrella gustavo a madero mexico" }, { "image": "https:\/\/demo74leotheme.b-cdn.net\/prestashop\/leo_stationero_demo\/58-cart_default\/hummingbird-printed-t-shirt.jpg", "title": "Bankers Box Blue\/White Heavy Duty Maxi Storage Box", "url": "https:\/\/demo74.leotheme.com\/prestashop\/leo_stationero_demo\/en\/paper\/1-hummingbird-printed-t-shirt.html", "id_product": "1", "time": "Puchare By kkumar 12 minutes ago", "phone": "xxx", "address": "fgnfgfg nkl" }, { "image": "https:\/\/demo74leotheme.b-cdn.net\/prestashop\/leo_stationero_demo\/27-cart_default\/brown-bear-printed-sweater.jpg", "title": "Guildhall Pre-Printed HR File Yellow (Pack of 50)", "url": "https:\/\/demo74.leotheme.com\/prestashop\/leo_stationero_demo\/en\/writing-supplies\/2-brown-bear-printed-sweater.html", "id_product": "2", "time": "Puchare By kkumar 57 minutes ago", "phone": "xxx", "address": "fgnfgfg nkl" }, { "image": "https:\/\/demo74leotheme.b-cdn.net\/prestashop\/leo_stationero_demo\/28-cart_default\/the-adventure-begins-framed-poster.jpg", "title": "Collins Elite Refill Week to View Manager", "url": "https:\/\/demo74.leotheme.com\/prestashop\/leo_stationero_demo\/en\/office-supplies-and-stationery\/4-the-adventure-begins-framed-poster.html", "id_product": "4", "time": "Puchare By kkumar 1 minutes ago", "phone": "xxx", "address": "fgnfgfg nkl" }, { "image": "https:\/\/demo74leotheme.b-cdn.net\/prestashop\/leo_stationero_demo\/36-cart_default\/mug-today-is-a-good-day.jpg", "title": "Canon PIXMA Inkjet Printer G7050", "url": "https:\/\/demo74.leotheme.com\/prestashop\/leo_stationero_demo\/en\/writing-supplies\/8-mug-today-is-a-good-day.html", "id_product": "8", "time": "Puchare By kkumar 53 minutes ago", "phone": "xxx", "address": "fgnfgfg nkl" }, { "image": "https:\/\/demo74leotheme.b-cdn.net\/prestashop\/leo_stationero_demo\/51-cart_default\/mountain-fox-notebook.jpg", "title": "Westcott Wooden Scissor Block", "url": "https:\/\/demo74.leotheme.com\/prestashop\/leo_stationero_demo\/en\/writing-supplies\/16-mountain-fox-notebook.html", "id_product": "16", "time": "Puchare By kkumar 37 minutes ago", "phone": "xxx", "address": "fgnfgfg nkl" }, { "image": "https:\/\/demo74leotheme.b-cdn.net\/prestashop\/leo_stationero_demo\/40-cart_default\/brown-bear-cushion.jpg", "title": "Parker Jotter Blue Stainless Steel Chrome Ballpoint Pen", "url": "https:\/\/demo74.leotheme.com\/prestashop\/leo_stationero_demo\/en\/office-supplies-and-stationery\/10-brown-bear-cushion.html", "id_product": "10", "time": "Puchare By kkumar 19 minutes ago", "phone": "xxx", "address": "fgnfgfg nkl" }, { "image": "https:\/\/demo74leotheme.b-cdn.net\/prestashop\/leo_stationero_demo\/30-cart_default\/today-is-a-good-day-framed-poster.jpg", "title": "CEP Pro Gloss W143 x D158 x H93mm Desk Tidy", "url": "https:\/\/demo74.leotheme.com\/prestashop\/leo_stationero_demo\/en\/office-supplies-and-stationery\/5-today-is-a-good-day-framed-poster.html", "id_product": "5", "time": "Puchare By kkumar 25 minutes ago", "phone": "xxx", "address": "fgnfgfg nkl" }, { "image": "https:\/\/demo74leotheme.b-cdn.net\/prestashop\/leo_stationero_demo\/42-cart_default\/hummingbird-cushion.jpg", "title": "Parker Quink Permanent Ink Bottle Blue", "url": "https:\/\/demo74.leotheme.com\/prestashop\/leo_stationero_demo\/en\/stationery\/11-hummingbird-cushion.html", "id_product": "11", "time": "Puchare By kkumar 39 minutes ago", "phone": "xxx", "address": "fgnfgfg nkl" }, { "image": "https:\/\/demo74leotheme.b-cdn.net\/prestashop\/leo_stationero_demo\/58-cart_default\/hummingbird-printed-t-shirt.jpg", "title": "Bankers Box Blue\/White Heavy Duty Maxi Storage Box", "url": "https:\/\/demo74.leotheme.com\/prestashop\/leo_stationero_demo\/en\/paper\/1-hummingbird-printed-t-shirt.html", "id_product": "1", "time": "Puchare By SKhan 32 minutes ago", "phone": "xxx", "address": "Kha Pes" }, { "image": "https:\/\/demo74leotheme.b-cdn.net\/prestashop\/leo_stationero_demo\/27-cart_default\/brown-bear-printed-sweater.jpg", "title": "Guildhall Pre-Printed HR File Yellow (Pack of 50)", "url": "https:\/\/demo74.leotheme.com\/prestashop\/leo_stationero_demo\/en\/writing-supplies\/2-brown-bear-printed-sweater.html", "id_product": "2", "time": "Puchare By SKhan 23 minutes ago", "phone": "xxx", "address": "Kha Pes" }, { "image": "https:\/\/demo74leotheme.b-cdn.net\/prestashop\/leo_stationero_demo\/28-cart_default\/the-adventure-begins-framed-poster.jpg", "title": "Collins Elite Refill Week to View Manager", "url": "https:\/\/demo74.leotheme.com\/prestashop\/leo_stationero_demo\/en\/office-supplies-and-stationery\/4-the-adventure-begins-framed-poster.html", "id_product": "4", "time": "Puchare By SKhan 23 minutes ago", "phone": "xxx", "address": "Kha Pes" }, { "image": "https:\/\/demo74leotheme.b-cdn.net\/prestashop\/leo_stationero_demo\/36-cart_default\/mug-today-is-a-good-day.jpg", "title": "Canon PIXMA Inkjet Printer G7050", "url": "https:\/\/demo74.leotheme.com\/prestashop\/leo_stationero_demo\/en\/writing-supplies\/8-mug-today-is-a-good-day.html", "id_product": "8", "time": "Puchare By SKhan 12 minutes ago", "phone": "xxx", "address": "Kha Pes" }, { "image": "https:\/\/demo74leotheme.b-cdn.net\/prestashop\/leo_stationero_demo\/51-cart_default\/mountain-fox-notebook.jpg", "title": "Westcott Wooden Scissor Block", "url": "https:\/\/demo74.leotheme.com\/prestashop\/leo_stationero_demo\/en\/writing-supplies\/16-mountain-fox-notebook.html", "id_product": "16", "time": "Puchare By SKhan 30 minutes ago", "phone": "xxx", "address": "Kha Pes" }, { "image": "https:\/\/demo74leotheme.b-cdn.net\/prestashop\/leo_stationero_demo\/40-cart_default\/brown-bear-cushion.jpg", "title": "Parker Jotter Blue Stainless Steel Chrome Ballpoint Pen", "url": "https:\/\/demo74.leotheme.com\/prestashop\/leo_stationero_demo\/en\/office-supplies-and-stationery\/10-brown-bear-cushion.html", "id_product": "10", "time": "Puchare By SKhan 27 minutes ago", "phone": "xxx", "address": "Kha Pes" }, { "image": "https:\/\/demo74leotheme.b-cdn.net\/prestashop\/leo_stationero_demo\/30-cart_default\/today-is-a-good-day-framed-poster.jpg", "title": "CEP Pro Gloss W143 x D158 x H93mm Desk Tidy", "url": "https:\/\/demo74.leotheme.com\/prestashop\/leo_stationero_demo\/en\/office-supplies-and-stationery\/5-today-is-a-good-day-framed-poster.html", "id_product": "5", "time": "Puchare By SKhan 36 minutes ago", "phone": "xxx", "address": "Kha Pes" }, { "image": "https:\/\/demo74leotheme.b-cdn.net\/prestashop\/leo_stationero_demo\/42-cart_default\/hummingbird-cushion.jpg", "title": "Parker Quink Permanent Ink Bottle Blue", "url": "https:\/\/demo74.leotheme.com\/prestashop\/leo_stationero_demo\/en\/stationery\/11-hummingbird-cushion.html", "id_product": "11", "time": "Puchare By SKhan 34 minutes ago", "phone": "xxx", "address": "Kha Pes" }];
        var disable_review_form_txt = "Not exists a criterion to review for this product or this language";
        var enable_dropdown_defaultcart = 1;
        var enable_flycart_effect = 1;
        var enable_notification = 0;
        var height_cart_item = "135";
        var isLogged = false;
        var leo_push = 0;
        var leo_search_url = "https:\/\/demo74.leotheme.com\/prestashop\/leo_stationero_demo\/en\/module\/leoproductsearch\/productsearch";
        var leo_token = "db62e42ed679a2b3256f637c8b160d22";
        var leoproductsearch_static_token = "db62e42ed679a2b3256f637c8b160d22";
        var leoproductsearch_token = "bd75a0c043e7698d8860d5ff006b2279";
        var lf_is_gen_rtl = false;
        var lps_show_product_img = "1";
        var lps_show_product_price = "1";
        var lql_ajax_url = "https:\/\/demo74.leotheme.com\/prestashop\/leo_stationero_demo\/en\/module\/leoquicklogin\/leocustomer";
        var lql_is_gen_rtl = false;
        var lql_module_dir = "\/prestashop\/leo_stationero_demo\/modules\/leoquicklogin\/";
        var lql_myaccount_url = "https:\/\/demo74.leotheme.com\/prestashop\/leo_stationero_demo\/en\/my-account";
        var lql_redirect = "0";
        var number_cartitem_display = 3;
        var numpro_display = "100";
        var prestashop = { "cart": { "products": [], "totals": { "total": { "type": "total", "label": "Total", "amount": 0, "value": "$0.00" }, "total_including_tax": { "type": "total", "label": "Total (tax incl.)", "amount": 0, "value": "$0.00" }, "total_excluding_tax": { "type": "total", "label": "Total (tax excl.)", "amount": 0, "value": "$0.00" } }, "subtotals": { "products": { "type": "products", "label": "Subtotal", "amount": 0, "value": "$0.00" }, "discounts": null, "shipping": { "type": "shipping", "label": "Shipping", "amount": 0, "value": "" }, "tax": { "type": "tax", "label": "Taxes", "amount": 0, "value": "$0.00" } }, "products_count": 0, "summary_string": "0 items", "vouchers": { "allowed": 0, "added": [] }, "discounts": [], "minimalPurchase": 0, "minimalPurchaseRequired": "" }, "currency": { "id": 1, "name": "US Dollar", "iso_code": "USD", "iso_code_num": "840", "sign": "$" }, "customer": { "lastname": null, "firstname": null, "email": null, "birthday": null, "newsletter": null, "newsletter_date_add": null, "optin": null, "website": null, "company": null, "siret": null, "ape": null, "is_logged": false, "gender": { "type": null, "name": null }, "addresses": [] }, "language": { "name": "English (English)", "iso_code": "en", "locale": "en-US", "language_code": "en-us", "is_rtl": "0", "date_format_lite": "m\/d\/Y", "date_format_full": "m\/d\/Y H:i:s", "id": 1 }, "page": { "title": "", "canonical": null, "meta": { "title": "Leo Stationero", "description": "Shop powered by PrestaShop", "keywords": "", "robots": "index" }, "page_name": "index", "body_classes": { "lang-en": true, "lang-rtl": false, "country-US": true, "currency-USD": true, "layout-full-width": true, "tax-display-disabled": true, "page-index": true }, "admin_notifications": [] }, "shop": { "name": "Leo Stationero", "logo": "https:\/\/demo74leotheme.b-cdn.net\/prestashop\/leo_stationero_demo\/img\/stationero-logo-1631178759.jpg", "stores_icon": "https:\/\/demo74leotheme.b-cdn.net\/prestashop\/leo_stationero_demo\/img\/logo_stores.png", "favicon": "https:\/\/demo74leotheme.b-cdn.net\/prestashop\/leo_stationero_demo\/img\/favicon.ico" }, "urls": { "base_url": "https:\/\/demo74.leotheme.com\/prestashop\/leo_stationero_demo\/", "current_url": "https:\/\/demo74.leotheme.com\/prestashop\/leo_stationero_demo\/en\/home-01.html", "shop_domain_url": "https:\/\/demo74.leotheme.com", "img_ps_url": "https:\/\/demo74leotheme.b-cdn.net\/prestashop\/leo_stationero_demo\/img\/", "img_cat_url": "https:\/\/demo74leotheme.b-cdn.net\/prestashop\/leo_stationero_demo\/img\/c\/", "img_lang_url": "https:\/\/demo74leotheme.b-cdn.net\/prestashop\/leo_stationero_demo\/img\/l\/", "img_prod_url": "https:\/\/demo74leotheme.b-cdn.net\/prestashop\/leo_stationero_demo\/img\/p\/", "img_manu_url": "https:\/\/demo74leotheme.b-cdn.net\/prestashop\/leo_stationero_demo\/img\/m\/", "img_sup_url": "https:\/\/demo74leotheme.b-cdn.net\/prestashop\/leo_stationero_demo\/img\/su\/", "img_ship_url": "https:\/\/demo74leotheme.b-cdn.net\/prestashop\/leo_stationero_demo\/img\/s\/", "img_store_url": "https:\/\/demo74leotheme.b-cdn.net\/prestashop\/leo_stationero_demo\/img\/st\/", "img_col_url": "https:\/\/demo74leotheme.b-cdn.net\/prestashop\/leo_stationero_demo\/img\/co\/", "img_url": "https:\/\/demo74leotheme.b-cdn.net\/prestashop\/leo_stationero_demo\/themes\/leo_stationero\/assets\/img\/", "css_url": "https:\/\/demo74leotheme.b-cdn.net\/prestashop\/leo_stationero_demo\/themes\/leo_stationero\/assets\/css\/", "js_url": "https:\/\/demo74leotheme.b-cdn.net\/prestashop\/leo_stationero_demo\/themes\/leo_stationero\/assets\/js\/", "pic_url": "https:\/\/demo74leotheme.b-cdn.net\/prestashop\/leo_stationero_demo\/upload\/", "pages": { "address": "https:\/\/demo74.leotheme.com\/prestashop\/leo_stationero_demo\/en\/address", "addresses": "https:\/\/demo74.leotheme.com\/prestashop\/leo_stationero_demo\/en\/addresses", "authentication": "https:\/\/demo74.leotheme.com\/prestashop\/leo_stationero_demo\/en\/login", "cart": "https:\/\/demo74.leotheme.com\/prestashop\/leo_stationero_demo\/en\/cart", "category": "https:\/\/demo74.leotheme.com\/prestashop\/leo_stationero_demo\/en\/index.php?controller=category", "cms": "https:\/\/demo74.leotheme.com\/prestashop\/leo_stationero_demo\/en\/index.php?controller=cms", "contact": "https:\/\/demo74.leotheme.com\/prestashop\/leo_stationero_demo\/en\/contact-us", "discount": "https:\/\/demo74.leotheme.com\/prestashop\/leo_stationero_demo\/en\/discount", "guest_tracking": "https:\/\/demo74.leotheme.com\/prestashop\/leo_stationero_demo\/en\/guest-tracking", "history": "https:\/\/demo74.leotheme.com\/prestashop\/leo_stationero_demo\/en\/order-history", "identity": "https:\/\/demo74.leotheme.com\/prestashop\/leo_stationero_demo\/en\/identity", "index": "https:\/\/demo74.leotheme.com\/prestashop\/leo_stationero_demo\/en\/", "my_account": "https:\/\/demo74.leotheme.com\/prestashop\/leo_stationero_demo\/en\/my-account", "order_confirmation": "https:\/\/demo74.leotheme.com\/prestashop\/leo_stationero_demo\/en\/order-confirmation", "order_detail": "https:\/\/demo74.leotheme.com\/prestashop\/leo_stationero_demo\/en\/index.php?controller=order-detail", "order_follow": "https:\/\/demo74.leotheme.com\/prestashop\/leo_stationero_demo\/en\/order-follow", "order": "https:\/\/demo74.leotheme.com\/prestashop\/leo_stationero_demo\/en\/order", "order_return": "https:\/\/demo74.leotheme.com\/prestashop\/leo_stationero_demo\/en\/index.php?controller=order-return", "order_slip": "https:\/\/demo74.leotheme.com\/prestashop\/leo_stationero_demo\/en\/credit-slip", "pagenotfound": "https:\/\/demo74.leotheme.com\/prestashop\/leo_stationero_demo\/en\/page-not-found", "password": "https:\/\/demo74.leotheme.com\/prestashop\/leo_stationero_demo\/en\/password-recovery", "pdf_invoice": "https:\/\/demo74.leotheme.com\/prestashop\/leo_stationero_demo\/en\/index.php?controller=pdf-invoice", "pdf_order_return": "https:\/\/demo74.leotheme.com\/prestashop\/leo_stationero_demo\/en\/index.php?controller=pdf-order-return", "pdf_order_slip": "https:\/\/demo74.leotheme.com\/prestashop\/leo_stationero_demo\/en\/index.php?controller=pdf-order-slip", "prices_drop": "https:\/\/demo74.leotheme.com\/prestashop\/leo_stationero_demo\/en\/prices-drop", "product": "https:\/\/demo74.leotheme.com\/prestashop\/leo_stationero_demo\/en\/index.php?controller=product", "search": "https:\/\/demo74.leotheme.com\/prestashop\/leo_stationero_demo\/en\/search", "sitemap": "https:\/\/demo74.leotheme.com\/prestashop\/leo_stationero_demo\/en\/sitemap", "stores": "https:\/\/demo74.leotheme.com\/prestashop\/leo_stationero_demo\/en\/stores", "supplier": "https:\/\/demo74.leotheme.com\/prestashop\/leo_stationero_demo\/en\/supplier", "register": "https:\/\/demo74.leotheme.com\/prestashop\/leo_stationero_demo\/en\/login?create_account=1", "order_login": "https:\/\/demo74.leotheme.com\/prestashop\/leo_stationero_demo\/en\/order?login=1" }, "alternative_langs": { "en-us": "https:\/\/demo74.leotheme.com\/prestashop\/leo_stationero_demo\/en\/module\/appagebuilder\/appagebuilderhome?module=appagebuilder", "fr-fr": "https:\/\/demo74.leotheme.com\/prestashop\/leo_stationero_demo\/fr\/module\/appagebuilder\/appagebuilderhome?module=appagebuilder", "de-de": "https:\/\/demo74.leotheme.com\/prestashop\/leo_stationero_demo\/de\/module\/appagebuilder\/appagebuilderhome?module=appagebuilder", "it-it": "https:\/\/demo74.leotheme.com\/prestashop\/leo_stationero_demo\/it\/module\/appagebuilder\/appagebuilderhome?module=appagebuilder", "es-es": "https:\/\/demo74.leotheme.com\/prestashop\/leo_stationero_demo\/es\/module\/appagebuilder\/appagebuilderhome?module=appagebuilder", "ar-sa": "https:\/\/demo74.leotheme.com\/prestashop\/leo_stationero_demo\/ar\/module\/appagebuilder\/appagebuilderhome?module=appagebuilder" }, "theme_assets": "\/prestashop\/leo_stationero_demo\/themes\/leo_stationero\/assets\/", "actions": { "logout": "https:\/\/demo74.leotheme.com\/prestashop\/leo_stationero_demo\/en\/?mylogout=" }, "no_picture_image": { "bySize": { "small_default": { "url": "https:\/\/demo74leotheme.b-cdn.net\/prestashop\/leo_stationero_demo\/img\/p\/en-default-small_default.jpg", "width": 98, "height": 98 }, "cart_default": { "url": "https:\/\/demo74leotheme.b-cdn.net\/prestashop\/leo_stationero_demo\/img\/p\/en-default-cart_default.jpg", "width": 125, "height": 125 }, "medium_default": { "url": "https:\/\/demo74leotheme.b-cdn.net\/prestashop\/leo_stationero_demo\/img\/p\/en-default-medium_default.jpg", "width": 250, "height": 250 }, "home_default": { "url": "https:\/\/demo74leotheme.b-cdn.net\/prestashop\/leo_stationero_demo\/img\/p\/en-default-home_default.jpg", "width": 452, "height": 452 }, "large_default": { "url": "https:\/\/demo74leotheme.b-cdn.net\/prestashop\/leo_stationero_demo\/img\/p\/en-default-large_default.jpg", "width": 800, "height": 800 } }, "small": { "url": "https:\/\/demo74leotheme.b-cdn.net\/prestashop\/leo_stationero_demo\/img\/p\/en-default-small_default.jpg", "width": 98, "height": 98 }, "medium": { "url": "https:\/\/demo74leotheme.b-cdn.net\/prestashop\/leo_stationero_demo\/img\/p\/en-default-medium_default.jpg", "width": 250, "height": 250 }, "large": { "url": "https:\/\/demo74leotheme.b-cdn.net\/prestashop\/leo_stationero_demo\/img\/p\/en-default-large_default.jpg", "width": 800, "height": 800 }, "legend": "" } }, "configuration": { "display_taxes_label": false, "display_prices_tax_incl": false, "is_catalog": false, "show_prices": true, "opt_in": { "partner": true }, "quantity_discount": { "type": "discount", "label": "Unit discount" }, "voucher_enabled": 0, "return_enabled": 0 }, "field_required": [], "breadcrumb": { "links": [{ "title": "Home", "url": "https:\/\/demo74.leotheme.com\/prestashop\/leo_stationero_demo\/en\/" }], "count": 1 }, "link": { "protocol_link": "https:\/\/", "protocol_content": "https:\/\/" }, "time": 1648871163, "static_token": "db62e42ed679a2b3256f637c8b160d22", "token": "bd75a0c043e7698d8860d5ff006b2279", "debug": false };
        var productcompare_add = "The product has been added to list compare";
        var productcompare_add_error = "An error occurred while adding. Please try again";
        var productcompare_max_item = "You cannot add more than 3 product(s) to the product comparison";
        var productcompare_remove = "The product was successfully removed from list compare";
        var productcompare_remove_error = "An error occurred while removing. Please try again";
        var productcompare_url = "https:\/\/demo74.leotheme.com\/prestashop\/leo_stationero_demo\/en\/module\/leofeature\/productscompare";
        var productcompare_viewlistcompare = "View list compare";
        var psemailsubscription_subscription = "https:\/\/demo74.leotheme.com\/prestashop\/leo_stationero_demo\/en\/module\/ps_emailsubscription\/subscription";
        var psr_icon_color = "#F19D76";
        var review_error = "An error occurred while processing your request. Please try again";
        var show_popup = 1;
        var text_no_product = "Don't have products";
        var text_results_count = "results";
        var type_dropdown_defaultcart = "dropdown";
        var type_flycart_effect = "fade";
        var url_leoproductattribute = "https:\/\/demo74.leotheme.com\/prestashop\/leo_stationero_demo\/en\/module\/leofeature\/LeoProductAttribute";
        var width_cart_item = "265";
        var wishlist_add = "The product was successfully added to your wishlist";
        var wishlist_cancel_txt = "Cancel";
        var wishlist_confirm_del_txt = "Delete selected item?";
        var wishlist_del_default_txt = "Cannot delete default wishlist";
        var wishlist_email_txt = "Email";
        var wishlist_loggin_required = "You must be logged in to manage your wishlist";
        var wishlist_ok_txt = "Ok";
        var wishlist_quantity_required = "You must enter a quantity";
        var wishlist_remove = "The product was successfully removed from your wishlist";
        var wishlist_reset_txt = "Reset";
        var wishlist_send_txt = "Send";
        var wishlist_send_wishlist_txt = "Send wishlist";
        var wishlist_url = "https:\/\/demo74.leotheme.com\/prestashop\/leo_stationero_demo\/en\/module\/leofeature\/mywishlist";
        var wishlist_viewwishlist = "View your wishlist";
    </script>
    <script type="text/javascript">
        var choosefile_text = "Choose file";
        var turnoff_popup_text = "Do not show this popup again";

        var size_item_quickview = 113;
        var style_scroll_quickview = 'vertical';

        var size_item_page = 113;
        var style_scroll_page = 'horizontal';

        var size_item_quickview_attr = 113;
        var style_scroll_quickview_attr = 'vertical';

        var size_item_popup = 113;
        var style_scroll_popup = 'vertical';
    </script>


    <script type="text/javascript">

        var FancyboxI18nClose = "Close";
        var FancyboxI18nNext = "Next";
        var FancyboxI18nPrev = "Previous";
        var current_link = "http://demo74.leotheme.com/prestashop/leo_stationero_demo/en/";
        var currentURL = window.location;
        currentURL = String(currentURL);
        currentURL = currentURL.replace("https://", "").replace("http://", "").replace("www.", "").replace(/#\w*/, "");
        current_link = current_link.replace("https://", "").replace("http://", "").replace("www.", "");
        var text_warning_select_txt = "Please select One to remove?";
        var text_confirm_remove_txt = "Are you sure to remove footer row?";
        var close_bt_txt = "Close";
        var list_menu = [];
        var list_menu_tmp = {};
        var list_tab = [];
        var isHomeMenu = 0;

    </script><!-- modules\appagebuilder\views\templates\hook\header -->

    <script>
        /**
         * List functions will run when document.ready()
         */
        var ap_list_functions = [];
        /**
         * List functions will run when window.load()
         */
        var ap_list_functions_loaded = [];

        /**
         * List functions will run when document.ready() for theme
         */

        var products_list_functions = [];
    </script>


    <script type='text/javascript'>
        var leoOption = {
            category_qty: 0,
            product_list_image: 0,
            product_one_img: 1,
            productCdown: 1,
            productColor: 0,
            homeWidth: 452,
            homeheight: 452,
        }

        ap_list_functions.push(function () {
            if (typeof $.LeoCustomAjax !== "undefined" && $.isFunction($.LeoCustomAjax)) {
                var leoCustomAjax = new $.LeoCustomAjax();
                leoCustomAjax.processAjax();
            }
        });
    </script>
    <script type="text/javascript">
        var sp_link_base = 'https://demo74leotheme.b-cdn.net/prestashop/leo_stationero_demo';
    </script>

    <script type="text/javascript">
        function renderDataAjax(jsonData) {
            for (var key in jsonData) {
                if (key == 'java_script') {
                    $('body').append(jsonData[key]);
                }
                else
                    if ($('#ets_speed_dy_' + key).length)
                        $('#ets_speed_dy_' + key).replaceWith(jsonData[key]);
            }
            if ($('#header .shopping_cart').length && $('#header .cart_block').length) {
                var shopping_cart = new HoverWatcher('#header .shopping_cart');
                var cart_block = new HoverWatcher('#header .cart_block');
                $("#header .shopping_cart a:first").live("hover",
                    function () {
                        if (ajaxCart.nb_total_products > 0 || parseInt($('.ajax_cart_quantity').html()) > 0)
                            $("#header .cart_block").stop(true, true).slideDown(450);
                    },
                    function () {
                        setTimeout(function () {
                            if (!shopping_cart.isHoveringOver() && !cart_block.isHoveringOver())
                                $("#header .cart_block").stop(true, true).slideUp(450);
                        }, 200);
                    }
                );
            }
            if (jsonData['custom_js'])
                $('head').append('<script src="' + sp_link_base + '/modules/ets_superspeed/views/js/script_custom.js"></javascript');
        }
    </script>

    <style>
        .layered_filter_ul .radio, .layered_filter_ul .checkbox {
            display: inline-block;
        }

        .ets_speed_dynamic_hook .cart-products-count {
            display: none !important;
        }

        .ets_speed_dynamic_hook .ajax_cart_quantity, .ets_speed_dynamic_hook .ajax_cart_product_txt, .ets_speed_dynamic_hook .ajax_cart_product_txt_s {
            display: none !important;
        }

        .ets_speed_dynamic_hook .shopping_cart > a:first-child:after {
            display: none !important;
        }
    </style>




</head>

<body id="index" class="lang-en country-us currency-usd layout-full-width tax-display-disabled page-index fullwidth">

    <main id="page">
        @{Html.RenderPartial("_NavBarClient");}
        @RenderBody();
    </main>


</body>

</html>