<!doctype html>
<html lang="en-US" class="default">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>@ViewBag.Title</title>
</head>

<body id="index" class="lang-en country-us currency-usd layout-full-width tax-display-disabled page-index fullwidth">

    <main id="page">
        @RenderBody()
    </main>


</body>

</html>