<header id="header">

    <div class="header-container">


        <div class="header-banner">
            <div class="container">
                <div class="inner"></div>
            </div>
        </div>



        <nav class="header-nav">

            <div class="bottomnav">
                <div class="container">
                    <div class="inner">
                        <!--modules\appagebuilder\views\templates\hook\ApRow -->
                        <div class="row ApRow  "
                             style="">
                            <!--modules\appagebuilder\views\templates\hook\ApColumn -->
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xs-8 col-sp-8 logo-w ApColumn ">
                                <!--modules\appagebuilder\views\templates\hook\ApGenCode -->

                                <div class="header_logo"><a href="https://demo74.leotheme.com/prestashop/leo_stationero_demo/en/">                  <img class="logo img-responsive" src="https://demo74leotheme.b-cdn.net/prestashop/leo_stationero_demo/img/stationero-logo-1631178759.jpg" alt="Leo Stationero" loading="lazy">                </a></div>

                            </div><!--modules\appagebuilder\views\templates\hook\ApColumn -->
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-8 col-xs-12 col-sp-12 search-w ApColumn ">
                                <!--modules\appagebuilder\views\templates\hook\ApModule -->
                                <!-- Block search module -->
                                <div id="leo_search_block_top" class="block exclusive search-by-category">
                                    <h4 class="title_block">Search here...</h4>
                                    <form method="get" action="https://demo74.leotheme.com/prestashop/leo_stationero_demo/en/index.php?controller=productsearch" id="leosearchtopbox" data-label-suggestion="Suggestion" data-search-for="Search for" data-in-category="in category" data-products-for="Products For" data-label-products="Products" data-view-all="View all">
                                        <input type="hidden" name="fc" value="module" />
                                        <input type="hidden" name="module" value="leoproductsearch" />
                                        <input type="hidden" name="controller" value="productsearch" />
                                        <input type="hidden" name="txt_not_found" value="No products found">
                                        <input type="hidden" name="leoproductsearch_static_token" value="db62e42ed679a2b3256f637c8b160d22" />
                                        <label>Search products:</label>
                                        <div class="block_content clearfix leoproductsearch-content">

                                            <div class="list-cate-wrapper">
                                                <input id="leosearchtop-cate-id" name="cate" value="" type="hidden">
                                                <a href="javascript:void(0)" id="dropdownListCateTop" class="select-title" rel="nofollow" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <span>All Categories</span>
                                                    <i class="material-icons pull-xs-right">keyboard_arrow_down</i>
                                                </a>
                                                <div class="list-cate dropdown-menu" aria-labelledby="dropdownListCateTop">
                                                    <a href="#" data-cate-id="" data-cate-name="All Categories" class="cate-item active">All Categories</a>
                                                    <a href="#" data-cate-id="2" data-cate-name="Home" class="cate-item cate-level-1">Home</a>

                                                    <a href="#" data-cate-id="3" data-cate-name="File Storage" class="cate-item cate-level-2">--File Storage</a>
                                                    <a href="#" data-cate-id="4" data-cate-name="Paper" class="cate-item cate-level-3">---Paper</a>
                                                    <a href="#" data-cate-id="5" data-cate-name="Writing Supplies" class="cate-item cate-level-3">---Writing Supplies</a>
                                                    <a href="#" data-cate-id="6" data-cate-name="Accessories" class="cate-item cate-level-2">--Accessories</a>
                                                    <a href="#" data-cate-id="7" data-cate-name="Stationery" class="cate-item cate-level-3">---Stationery</a>
                                                    <a href="#" data-cate-id="8" data-cate-name="Home Accessories" class="cate-item cate-level-3">---Home Accessories</a>
                                                    <a href="#" data-cate-id="9" data-cate-name="Office Supplies and Stationery" class="cate-item cate-level-2">--Office Supplies and Stationery</a>

                                                </div>
                                            </div>
                                            <div class="leoproductsearch-result">
                                                <div class="leoproductsearch-loading cssload-speeding-wheel"></div>
                                                <input class="search_query form-control grey" type="text" id="leo_search_query_top" name="search_query" data-content='[&quot;search products...&quot;]' value="" placeholder="Search" />
                                                <div class="ac_results lps_results"></div>
                                            </div>
                                            <button type="submit" id="leo_search_top_button" class="btn btn-default button button-small"><span><i class="material-icons search">Search</i></span></button>
                                        </div>
                                    </form>
                                </div>
                                <script type="text/javascript">
                                    var blocksearch_type = 'top';
                                </script>
                                <!-- /Block search module -->

                            </div><!--modules\appagebuilder\views\templates\hook\ApColumn -->
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-4 col-xs-4 col-sp-4 icon-w ApColumn ">
                                <!--modules\appagebuilder\views\templates\hook\ApModule -->
                                <div class="userinfo-selector links dropdown js-dropdown popup-over hidden-xl-up">
                                    <a href="javascript:void(0)" data-toggle="dropdown" class="popup-title icon" title="Account">
                                        <i class="fal fa-user-cog"></i>
                                    </a>
                                    <ul class="popup-content dropdown-menu user-info">
                                        <li>
                                            <a class="signin leo-quicklogin"
                                               data-enable-sociallogin="enable"
                                               data-type="popup"
                                               data-layout="login"
                                               href="javascript:void(0)"
                                               title="Log in to your customer account"
                                               rel="nofollow">
                                                <span>Sign in</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="register leo-quicklogin"
                                               data-enable-sociallogin="enable"
                                               data-type="popup"
                                               data-layout="register"
                                               href="javascript:void(0)"
                                               title="Log in to your customer account"
                                               rel="nofollow">
                                                <span>Register</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="myacount dropdown-item"
                                               href="https://demo74.leotheme.com/prestashop/leo_stationero_demo/en/my-account"
                                               title="My account"
                                               rel="nofollow">
                                                <span>My account</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="ap-btn-wishlist dropdown-item"
                                               href="//demo74.leotheme.com/prestashop/leo_stationero_demo/en/module/leofeature/mywishlist"
                                               title="Wishlist"
                                               rel="nofollow">
                                                <span>Wishlist</span>
                                                <span class="ap-total-wishlist ap-total"></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="ap-btn-compare dropdown-item"
                                               href="//demo74.leotheme.com/prestashop/leo_stationero_demo/en/module/leofeature/productscompare"
                                               title="Compare"
                                               rel="nofollow">
                                                <span>Compare</span>
                                                <span class="ap-total-compare ap-total"></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="checkout dropdown-item"
                                               href="//demo74.leotheme.com/prestashop/leo_stationero_demo/en/cart?action=show"
                                               title="Checkout"
                                               rel="nofollow">
                                                <span>Checkout</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="information float-xs-left float-md-left hidden-lg-down">

                                    <a class="login btn-login popup-title"
                                       href="https://demo74.leotheme.com/prestashop/leo_stationero_demo/en/my-account"
                                       title="Log in to your customer account"
                                       rel="nofollow">
                                        <span>Login</span>
                                    </a><span class="navigation-pipe">/</span>
                                    <a href="https://demo74.leotheme.com/prestashop/leo_stationero_demo/en/login?create_account=1" title="Register account" class="register btn-login popup-title" rel="nofollow">Register</a>
                                </div><!--modules\appagebuilder\views\templates\hook\ApGenCode -->

                                <a class="ap-btn-wishlist t ap-wishlist hidden-md-down" href="//demo74.leotheme.com/prestashop/leo_stationero_demo/en/module/leofeature/mywishlist" title="Wishlist" rel="nofollow">       <span class="icon"><i class="fal fa-heart"></i></span>         <span class="ap-total-wishlist ap-total"></span>      </a>
                                <!--modules\appagebuilder\views\templates\hook\ApModule -->
                                <div id="_desktop_cart">
                                    <div class="blockcart cart-preview inactive" data-refresh-url="//demo74.leotheme.com/prestashop/leo_stationero_demo/en/module/ps_shoppingcart/ajax">
                                        <div class="header">
                                            <span class="icon">
                                                <svg>
                                                    <use xlink:href="#shopping-cart"></use>
                                                </svg>
                                            </span>
                                            <span class="cart-products-count">0</span>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>



    </div>
</header>