@{
	ViewData["Title"] = "Pickup";
	ViewData["BannerTitle"] = "Schedule a Pickup";
}
@section toggleService{
<style>
	.tg-service::after {
		top: 20px !important;
	}
	div#service-list > ul[data-popper-placement="top-start"],
	div#product-list > ul[data-popper-placement="top-start"] {
		transform: translate3d(0px, -51px, 0px) !important;
	}
	div#service-list > ul[data-popper-placement="bottom-start"]{
		transform: translate3d(0px, 51px, 0px) !important;
	}
	#service-list ul > li a:hover {
		background-color: transparent;
		background-image: none;
	} 
	#service-list ul > li:hover {
		background-color: #ffdc39;
		color: #fff;
	}
</style>
}
<div id="content-wrapper" class="site-content-wrapper">
	<div id="content" class="site-content ">
		<div id="content-inner" class="site-content-inner ">
			<div id="primary" class="content-area  ">
				<main id="main" class="site-main">
					<article id="post-8187" class="post-8187 page type-page status-publish hentry">
						<header class="single-entry-header themestek-hide">
							<h2 class="entry-title">Quote Form</h2>
						</header><!-- .entry-header -->
						<!--form-->
						<form class="post-office-form">
							<div class="entry-content">
								<div data-vc-full-width="true" data-vc-full-width-init="true"
									class="themestek-row wpb_row vc_row-fluid vc_column-gap-0px themestek-total-col-2 themestek-zindex-0 themestek-bgimage-position-center_center vc_row-o-content-bottom"
									style="position: relative; left: 0px; box-sizing: border-box; width: 1440px; padding-left: 0px; padding-right: 0px;">
									<div class="vc_row container vc_column-gap-0px vc_row vc_row-flex">
										<!--steps-->
										<div class="d-flex justify-content-around mb-5 order-steps"
											style="width: 100%;">
											<div class="row">
												<div class="align-items-center d-flex justify-content-center mr-2"
													id="processing-step-1">
													<p class="m-0">1</p>
												</div>
												<p class="col-10 m-0">Select service</p>
											</div>
											<div class="row">
												<div class="align-items-center d-flex justify-content-center mr-2"
													id="processing-step-2">
													<p class="m-0">2</p>
												</div>
												<p class="col-10 m-0">Purchase product</p>
											</div>
											<div class="row">
												<div class="align-items-center d-flex justify-content-center mr-2"
													id="processing-step-3">
													<p class="m-0">3</p>
												</div>
												<p class="col-10 m-0">Fill sender information</p>
											</div>
											<div class="row">
												<div class="align-items-center d-flex justify-content-center mr-2"
													id="processing-step-4">
													<p class="m-0">4</p>
												</div>
												<p class="col-10 m-0">Fill sender information</p>
											</div>
											<div class="row">
												<div class="align-items-center d-flex justify-content-center mr-2"
													id="processing-step-5">
													<p class="m-0">5</p>
												</div>
												<p class="col-10 m-0">Proceed payment</p>
											</div>
										</div>
										<div
											class="themestek-column ts-custom-heading-style wpb_column vc_column_container vc_col-sm-8 vc_col-has-fill themestek-zindex-0">
											<div class="vc_column-inner vc_custom_1614156135890 ">
												<div class="wpb_wrapper">
													<div role="form" class="post-office" id="post-office-f10177-p8187-o2"
														lang="en-US" dir="ltr">
														<div class="screen-reader-response">
															<p role="status" aria-live="polite" aria-atomic="true"></p>
															<ul></ul>
														</div>
														<div style="display: none;">
															<input type="hidden" name="_post-office" value="10177">
															<input type="hidden" name="_post-office_version" value="5.4">
															<input type="hidden" name="_post-office_locale" value="en_US">
															<input type="hidden" name="_post-office_unit_tag"
																value="post-office-f10177-p8187-o2">
															<input type="hidden" name="_post-office_container_post"
																value="8187">
															<input type="hidden" name="_post-office_posted_data_hash"
																value="">
														</div>
														<div class="main-form">
															<div id="select-service">
																<h3 class="mb-5">SELECT SERVICE</h3>
																<div class="row">
																	<!--pickup or at store-->
																	<div class="col-sm-2">
																		<div class="input-group"
																			style="margin-bottom: 10px !important;">
																			<label for="pickup"
																				style="font-size: 14px;">
																				<input type="radio" name="pickup"
																					id="pickup">
																				Pickup
																			</label>
																		</div>
																	</div>
																	<div class="col-sm-10">
																		<div class="input-group"
																			style="margin-bottom: 10px !important;">
																			<label for="pickup"
																				style="font-size: 14px;">
																				<input type="radio" name="at-branch"
																					id="at-branch">Send at selected
																				branch</label>
																		</div>
																	</div>
																</div>
																<!--service-->
																<div class="row">
																	<div class="col-sm-6">
																		<div class="input-group">
																			<label for="service"
																				style="font-size: 14px;">Select
																				service</label>
																			<div
																				style="border: 1px solid rgba(119, 119, 119, 0.2);line-height: 53px;">
																				<div class="dropdown" id="service-list"
																					style="height: 51px;">
																					<a class="btn dropdown-toggle tg-service" href="#" role="button"
																						id="select-service" data-bs-toggle="dropdown" aria-expanded="false"
																						style="height: 100%; width: 100%;">
																						<button style="background-color: transparent;color: #111;width: 100%;text-align: left;font-size: 13px;" class="btn-sm">Select service</button>
																					</a>
																					<ul class="dropdown-menu p-0" aria-labelledby="select-service"
																						style="overflow: auto scroll; height: 100px; width: 100%; border-radius: 0px;">

																					</ul>
																				</div>
																			</div>
																		</div>
																	</div>
																	<div class="col-sm-6">
																		<div class="input-group">
																			<label for="pickup" style="font-size: 14px;"
																				id="sending-date-label">Pickup
																				date</label>
																			<span class="post-office-form-control-wrap"><input
																					type="date" name="sending-date"
																					value=""
																					class="post-office-form-control post-office-date post-office-validates-as-date"
																					aria-invalid="false">
																			</span>
																		</div>
																	</div>
																</div>
																<input type="button" value="NEXT" id="btn-service-next">
															</div>
															<div id="sender-info">
																<h3>SENDER INFORMATION</h3>
																<!--sender-->
																<div class="row">
																	<div class="col-sm-12">
																		<div class="row">
																			<div class="col-sm-6">
																				<div class="input-group">
																					<span
																						class="post-office-form-control-wrap"><input
																							type="text"
																							name="sender-first-name"
																							class="post-office-form-control post-office-text"
																							aria-invalid="false"
																							placeholder="First name">
																					</span>
																				</div>
																			</div>
																			<div class="col-sm-6">
																				<div class="input-group">
																					<span
																						class="post-office-form-control-wrap"><input
																							type="text"
																							name="sender-last-name"
																							class="post-office-form-control post-office-text"
																							aria-invalid="false"
																							placeholder="Last name">
																					</span>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
																<div class="row">
																	<div class="col-sm-12">
																		<div class="row">
																			<div class="col-sm-6">
																				<div class="input-group">
																					<span
																						class="post-office-form-control-wrap"><input
																							type="text"
																							name="from-phone"
																							class="post-office-form-control post-office-text"
																							aria-invalid="false"
																							placeholder="Phone">
																					</span>
																				</div>
																			</div>
																			<div class="col-sm-6">
																				<div class="input-group">
																					<span
																						class="post-office-form-control-wrap"><input
																							type="text"
																							name="from-email"
																							class="post-office-form-control post-office-text"
																							aria-invalid="false"
																							placeholder="Email">
																					</span>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
																<div class="row">
																	<label style="font-size: 14px;" class="mb-4">
																		<input type="checkbox" id="chb-company"> This is
																		company address
																	</label>
																</div>
																<div class="row" id="company-info">
																	<div class="col-sm-12">
																		<div class="row">
																			<div class="col-sm-6">
																				<div class="input-group">
																					<span
																						class="post-office-form-control-wrap"><input
																							type="text"
																							name="company-name"
																							class="post-office-form-control post-office-text"
																							aria-invalid="false"
																							placeholder="Company name">
																					</span>
																				</div>
																			</div>
																			<div class="col-sm-6">
																				<div class="input-group">
																					<span
																						class="post-office-form-control-wrap"><input
																							type="text"
																							name="company-phone"
																							class="post-office-form-control post-office-text"
																							aria-invalid="false"
																							placeholder="Company phone">
																					</span>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
																<div class="row">
																	<div class="col-sm-12">
																		<div class="row">
																			<div class="col-sm-6">
																				<div class="input-group">
																					<span
																						class="post-office-form-control-wrap"><input
																							type="text"
																							name="from-address"
																							class="post-office-form-control post-office-text"
																							aria-invalid="false"
																							placeholder="Address">
																					</span>
																				</div>
																			</div>
																			<div class="col-sm-6">
																				<div class="input-group">
																					<span
																						class="post-office-form-control-wrap">
																						<select name="from-province"
																							id="from-ward"
																							data-placeholder="Select state/province…"
																							tabindex="-1"
																							aria-hidden="true">
																							<option value="">Select
																								state/province…
																							</option>
																							<option value="EH">Western
																								Sahara
																							</option>
																							<option value="YE">Yemen
																							</option>
																							<option value="ZM">Zambia
																							</option>
																							<option value="ZW">Zimbabwe
																							</option>
																						</select>
																					</span>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
																<div class="row mb-5">
																	<div class="col-sm-12">
																		<div class="row">
																			<div class="col-sm-6">
																				<div class="input-group">
																					<span
																						class="post-office-form-control-wrap">
																						<select name="from-district"
																							id="from-district"
																							data-placeholder="Select city/district…"
																							tabindex="-1"
																							aria-hidden="true">
																							<option value="">Select
																								city/district…
																							</option>
																							<option value="EH">Western
																								Sahara
																							</option>
																							<option value="YE">Yemen
																							</option>
																							<option value="ZM">Zambia
																							</option>
																							<option value="ZW">Zimbabwe
																							</option>
																						</select>
																					</span>
																				</div>
																			</div>
																			<div class="col-sm-6">
																				<div class="input-group">
																					<span
																						class="post-office-form-control-wrap">
																						<select name="from-ward"
																							id="from-province"
																							data-placeholder="Select ward…"
																							tabindex="-1"
																							aria-hidden="true">
																							<option value="">Select
																								ward…
																							</option>
																							<option value="EH">Western
																								Sahara
																							</option>
																							<option value="YE">Yemen
																							</option>
																							<option value="ZM">Zambia
																							</option>
																							<option value="ZW">Zimbabwe
																							</option>
																						</select>
																					</span>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
																<input type="button" value="BACK" id="btn-sender-back"
																	class="mr-3">
																<input type="button" value="NEXT" id="btn-sender-next">
															</div>
															<div id="receiver-info">
																<h3>RECEIVER INFORMATION</h3>
																<!--receiver-->
																<div class="row mb-3">
																	<div class="col-sm-12">
																		<div class="row">
																			<div class="col-sm-6">
																				<label>
																					<input type="radio"
																						id="single-person"> Single
																					person
																				</label>
																			</div>
																			<div class="col-sm-6">
																				<label>
																					<input type="radio"
																						id="multiple-people"> Multiple
																					people
																				</label>
																			</div>
																		</div>
																	</div>
																</div>
																<div id="add-person-info">
																	<div id="add-person-info-1" class="mb-5">
																		<div class="row">
																			<div class="col-sm-12">
																				<div class="row">
																					<div class="col-sm-6">
																						<div class="input-group">
																							<span
																								class="post-office-form-control-wrap"><input
																									type="text"
																									name="receiver-first-name-1"
																									class="post-office-form-control post-office-text"
																									aria-invalid="false"
																									placeholder="First name">
																							</span>
																						</div>
																					</div>
																					<div class="col-sm-6">
																						<div class="input-group">
																							<span
																								class="post-office-form-control-wrap"><input
																									type="text"
																									name="receiver-last-name-1"
																									class="post-office-form-control post-office-text"
																									aria-invalid="false"
																									placeholder="Last name">
																							</span>
																						</div>
																					</div>
																				</div>
																			</div>
																		</div>
																		<div class="row">
																			<div class="col-sm-12">
																				<div class="row">
																					<div class="col-sm-6">
																						<div class="input-group">
																							<span
																								class="post-office-form-control-wrap"><input
																									type="text"
																									name="to-phone-1"
																									class="post-office-form-control post-office-text"
																									aria-invalid="false"
																									placeholder="Phone">
																							</span>
																						</div>
																					</div>
																					<div class="col-sm-6">
																						<div class="input-group">
																							<span
																								class="post-office-form-control-wrap"><input
																									type="text"
																									name="to-email-1"
																									class="post-office-form-control post-office-text"
																									aria-invalid="false"
																									placeholder="Email">
																							</span>
																						</div>
																					</div>
																				</div>
																			</div>
																		</div>
																		<div class="row">
																			<div class="col-sm-12">
																				<div class="row">
																					<div class="col-sm-6">
																						<div class="input-group">
																							<span
																								class="post-office-form-control-wrap"><input
																									type="text"
																									name="to-address-1"
																									class="post-office-form-control post-office-text"
																									aria-invalid="false"
																									placeholder="Address">
																							</span>
																						</div>
																					</div>
																					<div class="col-sm-6">
																						<div class="input-group">
																							<span
																								class="post-office-form-control-wrap">
																								<select name="to-ward-1"
																									id="to-ward-1"
																									data-placeholder="Select ward…"
																									tabindex="-1"
																									aria-hidden="true">
																									<option value="">
																										Select
																										ward…
																									</option>
																									<option value="EH">
																										Western
																										Sahara
																									</option>
																									<option value="YE">
																										Yemen
																									</option>
																									<option value="ZM">
																										Zambia
																									</option>
																									<option value="ZW">
																										Zimbabwe
																									</option>
																								</select>
																							</span>
																						</div>
																					</div>
																				</div>
																			</div>
																		</div>
																		<div class="row">
																			<div class="col-sm-12">
																				<div class="row">
																					<div class="col-sm-6">
																						<div class="input-group">
																							<span
																								class="post-office-form-control-wrap">
																								<select
																									name="to-district-1"
																									id="to-district-1"
																									data-placeholder="Select district…">
																									<option value="">
																										Select
																										district…
																									</option>
																									<option value="EH">
																										Western
																										Sahara
																									</option>
																									<option value="YE">
																										Yemen
																									</option>
																									<option value="ZM">
																										Zambia
																									</option>
																									<option value="ZW">
																										Zimbabwe
																									</option>
																								</select>
																							</span>
																						</div>
																					</div>
																					<div class="col-sm-6">
																						<div class="input-group">
																							<span
																								class="post-office-form-control-wrap">
																								<select
																									name="to-province-1"
																									id="to-province-1"
																									data-placeholder="Select province…"
																									tabindex="-1"
																									aria-hidden="true">
																									<option value="">
																										Select
																										province…
																									</option>
																									<option value="EH">
																										Western
																										Sahara
																									</option>
																									<option value="YE">
																										Yemen
																									</option>
																									<option value="ZM">
																										Zambia
																									</option>
																									<option value="ZW">
																										Zimbabwe
																									</option>
																								</select>
																							</span>
																						</div>
																					</div>
																				</div>
																				<div class="row justify-content-between"
																					style="padding: 0 12px;">
																					<div class="col-sm-2 p-0">
																						<div class="input-group">
																							<span
																								class="post-office-form-control-wrap"><input
																									type="text"
																									name="pin-code-1"
																									class="post-office-form-control post-office-text"
																									aria-invalid="false"
																									placeholder="Pin code">
																							</span>
																						</div>
																					</div>
																					<div class="col-sm-2 p-0">
																						<div class="input-group">
																							<span
																								class="post-office-form-control-wrap"><input
																									type="text"
																									name="length-1"
																									class="post-office-form-control post-office-text"
																									aria-invalid="false"
																									placeholder="Weight">
																							</span>
																						</div>
																					</div>
																					<div class="col-sm-2 p-0">
																						<div class="input-group">
																							<span
																								class="post-office-form-control-wrap"><input
																									type="text"
																									name="length-1"
																									class="post-office-form-control post-office-text"
																									aria-invalid="false"
																									placeholder="Length">
																							</span>
																						</div>
																					</div>
																					<div class="col-sm-2 p-0">
																						<div class="input-group">
																							<span
																								class="post-office-form-control-wrap"><input
																									type="text"
																									name="width-1"
																									class="post-office-form-control post-office-text"
																									aria-invalid="false"
																									placeholder="Width">
																							</span>
																						</div>
																					</div>
																					<div class="col-sm-2 p-0">
																						<div class="input-group">
																							<span
																								class="post-office-form-control-wrap"><input
																									type="text"
																									name="height-1"
																									class="post-office-form-control post-office-text"
																									aria-invalid="false"
																									placeholder="Height">
																							</span>
																						</div>
																					</div>
																				</div>
																			</div>
																		</div>
																		<!--Parcel detail-->
																		<div class="row">
																			<div class="d-flex"
																				style="padding: 0 15px;">
																				<label for="parcel"
																					style="font-size: 14px;"
																					class="mr-2">Add parcel
																					details</label>
																				<div class="d-flex">
																					<button type="button"
																						class="align-items-center btn d-flex justify-content-center p-0"
																						id="btn-add-more-parcel-1"
																						style=" border-radius: 50%; height: 20px;width: 20px;background-color: rgb(255, 205, 57);"><i
																							class="fa-solid fa-plus"
																							style="font-size: 10px;"></i></button>
																				</div>
																			</div>
																			<div class="col-sm-12" id="parcel-detail-1">
																				<div class="row" id="details-1-1">
																					<div class="col-sm-7">
																						<div class="input-group">
																							<span
																								class="post-office-form-control-wrap"><input
																									type="text"
																									name="name-1-1"
																									class="post-office-form-control post-office-text"
																									aria-invalid="false"
																									placeholder="Name">
																							</span>
																						</div>
																					</div>
																					<div class="col-sm-2">
																						<div class="input-group">
																							<span
																								class="post-office-form-control-wrap"><input
																									type="text"
																									name="qty-1-1"
																									class="post-office-form-control post-office-text"
																									aria-invalid="false"
																									placeholder="Qty">
																							</span>
																						</div>
																					</div>
																				</div>
																			</div>
																		</div>
																		<!--Notes-->
																		<div class="row">
																			<label for="notes" style="font-size: 14px;"
																				class="col-sm-9">Notes</label>
																			<label for="amount" style="font-size: 14px;"
																				class="col-sm-3">Amount
																				collected</label>
																		</div>
																		<div class="justify-content-between row">
																			<div class="col-sm-9">
																				<div class="input-group">
																					<span
																						class="post-office-form-control-wrap"><textarea
																							type="text" name="notes-1"
																							class="post-office-form-control post-office-text"
																							aria-invalid="false"
																							placeholder="Write some notes"
																							style="font-size: 12px; height: 53px;"
																							rows="1"></textarea>
																					</span>
																				</div>
																			</div>
																			<div class="col-sm-3">
																				<div class="input-group">
																					<span
																						class="post-office-form-control-wrap"><input
																							type="text" name="amount-1"
																							class="post-office-form-control post-office-text"
																							aria-invalid="false"
																							placeholder="Up to 3000k">
																					</span>
																				</div>
																			</div>

																		</div>
																		<!--photo-->
																		<div class="row">
																			<div
																				class="align-items-center col-sm-6 d-flex">
																				<div class="input-group"
																					style="margin-bottom: 0 !important;">
																					<label for="pickup"
																						style="font-size: 14px;">Add
																						some photos
																						of pickup stuff</label>
																					<span
																						class="post-office-form-control-wrap">
																						<input type="file"
																							name="photos-1" multiple
																							style="font-size: 13px;"
																							id="photos-1">
																					</span>
																				</div>
																			</div>
																		</div>
																		<!--photos-->
																		<div class="m-0 mb-4" id="receiver-photo-1">
																			<div id="photo-scroll-1"
																				class="align-items-center d-flex p-0">

																			</div>
																		</div>
																	</div>
																</div>
																<input type="button" value="BACK" id="btn-receiver-back"
																	class="mr-3">
																<input type="button" value="NEXT"
																	id="btn-receiver-next">
															</div>
														</div>
														<div class="post-office-response-output" aria-hidden="true"></div>
													</div>
												</div>
											</div>
										</div>
										<div class="themestek-column wpb_column vc_column_container vc_col-sm-4 themestek-zindex-0"
											id="right-image">
											<div class="vc_column-inner vc_custom_1551336698818">
												<div class="wpb_wrapper">
													<div class="wpb_single_image wpb_content_element vc_align_left">
														<figure class="wpb_wrapper vc_figure">
															<div class="vc_single_image-wrapper vc_box_border_grey"><img
																	width="398" height="627"
																	src="https://moversco.themestek.com/demo5/wp-content/uploads/sites/8/2021/02/Quote-new-img.png"
																	class="vc_single_image-img attachment-full" alt=""
																	loading="lazy"
																	srcset="https://moversco.themestek.com/demo5/wp-content/uploads/sites/8/2021/02/Quote-new-img.png 398w, https://moversco.themestek.com/demo5/wp-content/uploads/sites/8/2021/02/Quote-new-img-190x300.png 190w"
																	sizes="(max-width: 398px) 100vw, 398px"
																	data-id="10216">
															</div>
														</figure>
													</div>
												</div>
											</div>
										</div>
										<!--totalCharges decimal
											orderTotal decimal-->

									</div>
								</div>
								<!--payment-->
								<div id="payment-process" class="container" style="max-width: 85%;">
									<h3>PAYMENT PROCESS</h3>
									<div class="justify-content-around mb-3 row">
										<!--payment method-->
										<div style="box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);padding: 30px 15px;"
											class="col-sm-3 mb-4 mt-5">
											<h5 class="mb-4">Payment Methods</h5>
											<div class="align-items-center">
												<p class="">Choose a method</p>
												<ul class="flex-column nav" style="">
													<li class="nav-item">
														<a class="active nav-link" aria-current="page">
															<input type="radio">
															<img src="../../img/defaults/one-pay.png" width="80"
																height="80">
														</a>
													</li>
													<li class="nav-item">
														<a class="active nav-link" aria-current="page">
															<input type="radio">
															<img src="../../img/defaults/momo-logo.png" width="40"
																height="40">
														</a>
													</li>

													<li class="nav-item">
														<a class="active nav-link" aria-current="page">
															<input type="radio">
															<img src="../../img/defaults/cod-logo.jpeg" width="100"
																height="100">
														</a>
													</li>
												</ul>
											</div>
										</div>
										<div class="col-sm-4 mb-4 mt-5"
											style="box-shadow: 0 3px 10px rgb(0 0 0 / 20%); padding: 30px 15px;">
											<!--Sender Info-->
											<div class="row">
												<h5>Sender Information</h5>
												<div>
													<p>Name:<span> Tu Nguyen</span></p>
													<p>Email:<span> aishiteru1509@gmail.com</span></p>
													<p>Phone:<span> 0975923945</span></p>
													<p>Address:<span> 610 Nguyen Van Luong, Ward 11, District 6,
															HCMC</span></p>
												</div>
											</div>
										</div>
										<div class="col-sm-4 mb-4 mt-5"
											style="box-shadow: 0 3px 10px rgb(0 0 0 / 20%); padding: 30px 15px;">
											<!--service Info-->
											<div class="row">
												<h5>Service</h5>
												<div>
													<p>Name:<span> Parcel/Mail</span></p>
													<p>Qty:<span> 10</span></p>
													<p>Pickup date:<span>15/04/2022</span></p>
													<p>Weight:<span> 3kg</span></p>
													<p>Width:<span> 30cm</span><span> - Height:<span>
																20cm</span></span><span> - Length:<span>
																40cm</span></span></p>
												</div>
											</div>
										</div>
									</div>
									<div class="justify-content-around mb-4 row">
										<div style="box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);padding: 30px 15px;"
											class="col-sm-3 mb-4">
											<h5 class="mb-4">Message</h5>

											<div class="input-group input-button">
												<span class="post-office-form-control-wrap message">
													<textarea name="message" cols="40" rows="5"
														class="post-office-form-control post-office-textarea" aria-invalid="false"
														placeholder="Message">													</textarea>
												</span>
											</div>
										</div>
										<div style="box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);padding: 30px 15px;width: 69.5%;"
											class="col-sm-8 mb-4">
											<h5 class="mb-4">Receiver Information</h5>
											<div style="height: 166px;overflow: scroll scroll;">
												<table class="table table-striped" style="width: 140%;">
													<thead>
														<tr>
															<th scope="col">#</th>
															<th scope="col">Name</th>
															<th scope="col">Phone</th>
															<th scope="col">Email</th>
															<th scope="col">Address</th>
															<th scope="col">Pin code</th>
															<th scope="col">Shipping fee</th>
														</tr>
													</thead>
													<tbody>
														<tr>
															<th scope="row">1</th>
															<td>Nhu Nguyen</td>
															<td>0987654321</td>
															<td>OttoOttoOttoOt@toOt.too</td>
															<td>610/2/3/4g Nguyen Dinh Chieu, Ward 3, District 3, HCMC
															</td>
															<td>700000</td>
															<td>700000</td>
														</tr>
														<tr>
															<th scope="row">2</th>
															<td>Jacob</td>
															<td>Thornton</td>
															<td>Otto</td>
															<td>Otto</td>
															<td>@@fat</td>
															<td>700000</td>
														</tr>
														<tr>
															<th scope="row">3</th>
															<td>Jacob</td>
															<td>Thornton</td>
															<td>Otto</td>
															<td>Otto</td>
															<td>@@fat</td>
															<td>700000</td>
														</tr>
														<tr>
															<th scope="row">2</th>
															<td>Jacob</td>
															<td>Thornton</td>
															<td>Otto</td>
															<td>Otto</td>
															<td>@@fat</td>
															<td>700000</td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>
									<div class="justify-content-around mb-3 row">
										<div style="box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);padding: 30px 15px;width: 97.3%;"
											class="mb-4">
											<h5 class="mb-4">Products</h5>
											<div>
												<table class="table table-borderless"
													style=";;border-collapse: initial;">
													<thead>
														<tr>
															<th scope="col">#</th>
															<th scope="col">Name</th>
															<th scope="col">Type</th>
															<th scope="col">Price</th>
															<th scope="col">Qty</th>
															<th scope="col">Subtotal</th>
														</tr>
													</thead>
													<tbody>
														<tr>
															<th scope="row">1</th>
															<td class="align-items-center d-flex">
																<div class="mr-2">
																	<img src="https://localhost:5001/img/defaults/shop-07-1-1-768x768.jpeg"
																		width="30" height="30">
																</div>
																<p class="mb-0">Package 1</p>
															</td>
															<td>size s, yellow</td>
															<td>$1.23</td>
															<td>3</td>
															<td>$3.69</td>
														</tr>
														<tr>
															<th scope="row">2</th>
															<td class="align-items-center d-flex">
																<div class="mr-2">
																	<img src="https://localhost:5001/img/defaults/shop-07-1-1-768x768.jpeg"
																		width="30" height="30">
																</div>
																<p class="mb-0">Package 1</p>
															</td>
															<td>size s, yellow</td>
															<td>$1.23</td>
															<td>3</td>
															<td>$3.69</td>
														</tr>
														<tr>
															<th scope="row">3</th>
															<td class="align-items-center d-flex">
																<div class="mr-2">
																	<img src="https://localhost:5001/img/defaults/shop-07-1-1-768x768.jpeg"
																		width="30" height="30">
																</div>
																<p class="mb-0">Package 1</p>
															</td>
															<td>size s, yellow</td>
															<td>$1.23</td>
															<td>3</td>
															<td>$3.69</td>
														</tr>
														<tr>
															<th scope="row">4</th>
															<td class="align-items-center d-flex">
																<div class="mr-2">
																	<img src="https://localhost:5001/img/defaults/shop-07-1-1-768x768.jpeg"
																		width="30" height="30">
																</div>
																<p class="mb-0">Package 1</p>
															</td>
															<td>size s, yellow</td>
															<td>$1.23</td>
															<td>3</td>
															<td>$3.69</td>
														</tr>
													</tbody>
												</table>
											</div>
											<hr />
											<div class="d-flex justify-content-end" style="margin-right: 9.5%;">
												<p style="width: 25%;">Pickup fee:</p>
												<p>$23.33</p>
											</div>
											<div class="d-flex justify-content-end" style="margin-right: 9.5%;">
												<p style="width: 25%;" class="">Shipping cost:
													<span style="" class="col-sm-auto">Fast delivery</span>
													<span style="font-size: 11px;padding: 0 15px 0 0;" class="d-block">
														<i class="fa-circle-exclamation fa-solid mr-1"></i>Estimated
														from
														chosen branch to address(es) of receiver(s)
													</span>
												</p>
												<p>$23.33</p>
											</div>
											<div class="d-flex justify-content-end" style="margin-right: 9.5%;">
												<p style="width: 25%;">Total
												</p>
												<p>$23.33</p>
											</div>
										</div>
									</div>
									<div class="row mb-5">
										<div class="d-flex">
											<input type="button" value="BACK" id="btn-payment-back" class="mr-3">
											<div class="input-button input-group"
												style="margin-bottom: 0px !important;"><input type="submit"
													value="SEND MESSAGE" class="post-office-form-control post-office-submit"
													aria-invalid="false"><span class="ajax-loader"></span></div>
										</div>
									</div>
								</div>
								<!--product-->
								<div id="purchase-product" class="container" style="max-width: 85%;">
									<h3 class="mb-5">PURCHASE PRODUCTS</h3>
									<div class="row mb-3">
										<div class="col-sm-3">
											<div class="input-group">
												<span class="post-office-form-control-wrap">
													<select name="from-ward" id="from-ward"
														data-placeholder="Select ward…" tabindex="-1"
														aria-hidden="true">
														<option value="">Select
															ward…
														</option>
														<option value="EH">Western
															Sahara
														</option>
														<option value="YE">Yemen
														</option>
														<option value="ZM">Zambia
														</option>
														<option value="ZW">Zimbabwe
														</option>
													</select>
												</span>
											</div>
										</div>
										<div class="col-sm-9" style="">
											<div class=""
												style="border: 1px solid rgba(119, 119, 119, 0.2);line-height: 53px;">
												<div class="dropdown" id="product-list" style="height: 51px;">
													<a class="btn dropdown-toggle" href="#" role="button"
														id="select-product" data-bs-toggle="dropdown"
														aria-expanded="true">
														<input type="search" placeholder="Search product…"
															style="border: none;padding: 0;">
													</a>
													<ul class="dropdown-menu" aria-labelledby="select-product"
														style="overflow: auto scroll; height: 250px;"
														data-popper-placement="bottom-start">
														<li class="mb-2">
															<a class="dropdown-item">
																<div class="align-items-center row"
																	style="line-height: 30px;">
																	<div class="col-1">
																		<img src="../../img/defaults/shop-07-1-1-768x768.jpeg"
																			alt="" width="30" height="30">
																	</div>
																	<div
																		class="align-items-center col-11 d-flex justify-content-between">
																		<p class="m-0">Hahaha</p>
																		<div style="width: 35%;">
																			<div class="input-group"
																				style="margin-bottom: 0 !important;height: 35px;">
																				<span class="post-office-form-control-wrap">
																					<select name="from-ward"
																						id="from-ward"
																						data-placeholder="Select ward…"
																						tabindex="-1" aria-hidden="true"
																						style="height: 35px;padding: 5px 10px;">
																						<option value="">Select
																							attribute…
																						</option>
																						<option value="EH">Western
																							Sahara
																						</option>
																						<option value="YE">Yemen
																						</option>
																						<option value="ZM">Zambia
																						</option>
																						<option value="ZW">Zimbabwe
																						</option>
																					</select>
																				</span>
																			</div>
																		</div>
																		<p class="m-0">4 items left</p>
																		<p class="m-0">$25</p>
																		<button class="btn"
																			style="background-color: #ffcd39;height: 40px;font-size: 12px;">Add
																			to cart</button>
																	</div>
																</div>
															</a>
														</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
									<div class="woocommerce">
										<div class="woocommerce-notices-wrapper"></div>
										<form class="woocommerce-cart-form">
											<table
												class="shop_table shop_table_responsive cart woocommerce-cart-form__contents"
												cellspacing="0">
												<thead>
													<tr>
														<th class="product-remove">&nbsp;</th>
														<th class="product-thumbnail">&nbsp;</th>
														<th class="product-name">Product</th>
														<th class="product-name">Type</th>
														<th class="product-price">Price</th>
														<th class="product-quantity">Quantity</th>
														<th class="product-subtotal">Subtotal</th>
													</tr>
												</thead>
												<tbody>
													<tr class="woocommerce-cart-form__cart-item cart_item">
														<td class="product-remove">
															<a href="https://moversco.themestek.com/demo5/cart/?remove_item=a3f390d88e4c41f2747bfa2f1b5f87db&amp;_wpnonce=b2531b3420"
																class="remove" aria-label="Remove this item"
																data-product_id="68"
																data-product_sku="woo-long-sleeve-tee">×</a>
														</td>
														<td class="product-thumbnail">
															<a
																href="https://moversco.themestek.com/demo5/product/free-line-box/"><img
																	width="40" height="40"
																	src="https://moversco.themestek.com/demo5/wp-content/uploads/sites/8/2017/12/shop-07-1-1.jpg"
																	class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail"
																	alt="" loading="lazy"
																	srcset="https://moversco.themestek.com/demo5/wp-content/uploads/sites/8/2017/12/shop-07-1-1.jpg 1000w, https://moversco.themestek.com/demo5/wp-content/uploads/sites/8/2017/12/shop-07-1-1-300x300.jpg 300w, https://moversco.themestek.com/demo5/wp-content/uploads/sites/8/2017/12/shop-07-1-1-150x150.jpg 150w, https://moversco.themestek.com/demo5/wp-content/uploads/sites/8/2017/12/shop-07-1-1-768x768.jpg 768w, https://moversco.themestek.com/demo5/wp-content/uploads/sites/8/2017/12/shop-07-1-1-800x800.jpg 800w"
																	sizes="(max-width: 300px) 100vw, 300px"
																	data-id="9258"></a>
														</td>
														<td class="product-name" data-title="Product">
															<a
																href="https://moversco.themestek.com/demo5/product/free-line-box/">Free
																Line Box</a>
														</td>
														<td class="product-type" data-title="Type">
															<span>Red, w:12 x h:23 x l:30</span>
														</td>

														<td class="product-price" data-title="Price">
															<span class="woocommerce-Price-amount amount"><bdi><span
																		class="woocommerce-Price-currencySymbol">£</span>25.00</bdi></span>
														</td>

														<td class="product-quantity" data-title="Quantity">
															<div class="quantity">
																<label class="screen-reader-text"
																	for="quantity_624f0d8bd9cdc">Free Line Box
																	quantity</label>
																<input type="number" id="quantity_624f0d8bd9cdc"
																	class="input-text qty text" step="1" min="0" max=""
																	name="cart[a3f390d88e4c41f2747bfa2f1b5f87db][qty]"
																	value="1" title="Qty" size="4" placeholder=""
																	inputmode="numeric">
															</div>
														</td>

														<td class="product-subtotal" data-title="Subtotal">
															<span class="woocommerce-Price-amount amount"><bdi><span
																		class="woocommerce-Price-currencySymbol">£</span>25.00</bdi></span>
														</td>
													</tr>
													<tr class="woocommerce-cart-form__cart-item cart_item">

														<td class="product-remove">
															<a href="https://moversco.themestek.com/demo5/cart/?remove_item=072b030ba126b2f4b2374f342be9ed44&amp;_wpnonce=b2531b3420"
																class="remove" aria-label="Remove this item"
																data-product_id="60" data-product_sku="woo-cap">×</a>
														</td>

														<td class="product-thumbnail">
															<a
																href="https://moversco.themestek.com/demo5/product/eco-gray-box/"><img
																	width="40" height="40"
																	src="https://moversco.themestek.com/demo5/wp-content/uploads/sites/8/2017/12/shop-09-1-1.jpg"
																	class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail"
																	alt="" loading="lazy"
																	srcset="https://moversco.themestek.com/demo5/wp-content/uploads/sites/8/2017/12/shop-09-1-1.jpg 1000w, https://moversco.themestek.com/demo5/wp-content/uploads/sites/8/2017/12/shop-09-1-1-300x300.jpg 300w, https://moversco.themestek.com/demo5/wp-content/uploads/sites/8/2017/12/shop-09-1-1-150x150.jpg 150w, https://moversco.themestek.com/demo5/wp-content/uploads/sites/8/2017/12/shop-09-1-1-768x768.jpg 768w, https://moversco.themestek.com/demo5/wp-content/uploads/sites/8/2017/12/shop-09-1-1-800x800.jpg 800w"
																	sizes="(max-width: 300px) 100vw, 300px"
																	data-id="9262"></a>
														</td>

														<td class="product-name" data-title="Product">
															<a
																href="https://moversco.themestek.com/demo5/product/eco-gray-box/">Eco
																Gray Box</a>
														</td>
														<td class="product-type" data-title="Type">
															<span>Red, w:12 x h:23 x l:30</span>
														</td>

														<td class="product-price" data-title="Price">
															<span class="woocommerce-Price-amount amount"><bdi><span
																		class="woocommerce-Price-currencySymbol">£</span>16.00</bdi></span>
														</td>

														<td class="product-quantity" data-title="Quantity">
															<div class="quantity">
																<label class="screen-reader-text"
																	for="quantity_624f0d8bd9fc4">Eco Gray Box
																	quantity</label>
																<input type="number" id="quantity_624f0d8bd9fc4"
																	class="input-text qty text" step="1" min="0" max=""
																	name="cart[072b030ba126b2f4b2374f342be9ed44][qty]"
																	value="1" title="Qty" size="4" placeholder=""
																	inputmode="numeric">
															</div>
														</td>

														<td class="product-subtotal" data-title="Subtotal">
															<span class="woocommerce-Price-amount amount"><bdi><span
																		class="woocommerce-Price-currencySymbol">£</span>16.00</bdi></span>
														</td>
													</tr>
													<tr>
														<td colspan="6" class="actions">
															@* <div class="coupon">
																<label for="coupon_code">Coupon:</label> <input
																type="text" name="coupon_code" class="input-text"
																id="coupon_code" value="" placeholder="Coupon code">
																<button type="submit" class="button" name="apply_coupon"
																value="Apply coupon">Apply coupon</button>
																</div> *@
															<button type="submit" class="button" name="update_cart"
																value="Update cart" disabled=""
																aria-disabled="true">Update cart</button>
															<input type="hidden" id="woocommerce-cart-nonce"
																name="woocommerce-cart-nonce" value="b2531b3420"><input
																type="hidden" name="_wp_http_referer"
																value="/demo5/cart/">
														</td>
													</tr>
												</tbody>
											</table>
										</form>
										<div class="cart-collaterals">
											<div class="cart_totals ">
												<h2>Cart totals</h2>
												<table cellspacing="0" class="shop_table shop_table_responsive">
													<tbody>
														<tr class="cart-subtotal">
															<th>Subtotal</th>
															<td data-title="Subtotal"><span
																	class="woocommerce-Price-amount amount"><bdi><span
																			class="woocommerce-Price-currencySymbol">£</span>41.00</bdi></span>
															</td>
														</tr>
														<tr class="order-total">
															<th>Total</th>
															<td data-title="Total"><strong><span
																		class="woocommerce-Price-amount amount"><bdi><span
																				class="woocommerce-Price-currencySymbol">£</span>41.00</bdi></span></strong>
															</td>
														</tr>
													</tbody>
												</table>
												<div class="wc-proceed-to-checkout">
													<input type="button" value="BACK" id="btn-product-back"
														class="mr-2">
													<input type="button" value="NEXT" id="btn-product-next">
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="vc_row-full-width vc_clearfix"></div>
								<div
									class="themestek-row wpb_row vc_row-fluid vc_custom_1551336907418 vc_column-gap-0px themestek-total-col-1 themestek-zindex-0 container themestek-bgimage-position-center_center">
									<div class="vc_column-gap-0px vc_row">
										<div
											class="themestek-column wpb_column vc_column_container vc_col-sm-12 themestek-zindex-0">
											<div class="vc_column-inner  ">
												<div class="wpb_wrapper">
													<div
														class="themestek-boxes themestek-boxes-client themestek-boxes-view-default themestek-client-style-1 themestek-boxes-col-five themestek-boxes-sortable-no themestek-boxes-textalign-center themestek-boxes-sortablebutton-">
														<div
															class="themestek-boxes-inner themestek-boxes-client-inner ">

															<div
																class="row multi-columns-row themestek-boxes-row-wrapper">
																<div
																	class="themestek-box-col-wrapper col-lg-20percent col-sm-4 col-md-4 col-xs-12 ">
																	<div class="themestek-client-logo-box-w">
																		<div class="themestek-client-logo-tooltip"
																			data-tooltip="Client-12">
																			<div
																				class="themestek-box themestek-box-client themestek-clientbox-style-1 ">

																				<span class="themestek-item-thumbnail">
																					<span
																						class="themestek-item-thumbnail-inner">
																						<img width="185" height="65"
																							src="https://moversco.themestek.com/demo5/wp-content/uploads/sites/8/2021/01/Client-12.png"
																							class="attachment-full size-full wp-post-image"
																							alt="">
																					</span>
																				</span>
																			</div>
																		</div>
																	</div><!-- .themestek-client-logo-box-w -->
																</div>
																<div
																	class="themestek-box-col-wrapper col-lg-20percent col-sm-4 col-md-4 col-xs-12 ">
																	<div class="themestek-client-logo-box-w">
																		<div class="themestek-client-logo-tooltip"
																			data-tooltip="Client-11">
																			<div
																				class="themestek-box themestek-box-client themestek-clientbox-style-1 ">

																				<span class="themestek-item-thumbnail">
																					<span
																						class="themestek-item-thumbnail-inner">
																						<img width="185" height="65"
																							src="https://moversco.themestek.com/demo5/wp-content/uploads/sites/8/2021/01/Client-11.png"
																							class="attachment-full size-full wp-post-image"
																							alt="">
																					</span>
																				</span>
																			</div>
																		</div>
																	</div><!-- .themestek-client-logo-box-w -->
																</div>
																<div
																	class="themestek-box-col-wrapper col-lg-20percent col-sm-4 col-md-4 col-xs-12 ">
																	<div class="themestek-client-logo-box-w">
																		<div class="themestek-client-logo-tooltip"
																			data-tooltip="Client-10">
																			<div
																				class="themestek-box themestek-box-client themestek-clientbox-style-1 ">

																				<span class="themestek-item-thumbnail">
																					<span
																						class="themestek-item-thumbnail-inner">
																						<img width="185" height="65"
																							src="https://moversco.themestek.com/demo5/wp-content/uploads/sites/8/2021/01/Client-10.png"
																							class="attachment-full size-full wp-post-image"
																							alt="">
																					</span>
																				</span>
																			</div>
																		</div>
																	</div><!-- .themestek-client-logo-box-w -->
																</div>
																<div
																	class="themestek-box-col-wrapper col-lg-20percent col-sm-4 col-md-4 col-xs-12 ">
																	<div class="themestek-client-logo-box-w">
																		<div class="themestek-client-logo-tooltip"
																			data-tooltip="Client-09">
																			<div
																				class="themestek-box themestek-box-client themestek-clientbox-style-1 ">

																				<span class="themestek-item-thumbnail">
																					<span
																						class="themestek-item-thumbnail-inner">
																						<img width="185" height="65"
																							src="https://moversco.themestek.com/demo5/wp-content/uploads/sites/8/2021/01/Client-09.png"
																							class="attachment-full size-full wp-post-image"
																							alt="">
																					</span>
																				</span>
																			</div>
																		</div>
																	</div><!-- .themestek-client-logo-box-w -->
																</div>
																<div
																	class="themestek-box-col-wrapper col-lg-20percent col-sm-4 col-md-4 col-xs-12 ">
																	<div class="themestek-client-logo-box-w">
																		<div class="themestek-client-logo-tooltip"
																			data-tooltip="Client-08">
																			<div
																				class="themestek-box themestek-box-client themestek-clientbox-style-1 ">

																				<span class="themestek-item-thumbnail">
																					<span
																						class="themestek-item-thumbnail-inner">
																						<img width="185" height="65"
																							src="https://moversco.themestek.com/demo5/wp-content/uploads/sites/8/2021/01/Client-08.png"
																							class="attachment-full size-full wp-post-image"
																							alt="">
																					</span>
																				</span>
																			</div>
																		</div>
																	</div><!-- .themestek-client-logo-box-w -->
																</div>
															</div>
														</div><!-- .themestek-boxes-inner -->
													</div><!-- .themestek-boxes -->
												</div>
											</div>
										</div>
									</div>
								</div>
							</div><!-- .entry-content -->
						</form>
					</article><!-- #post-## -->
				</main><!-- #main .site-main -->
			</div><!-- #primary .content-area -->
		</div><!-- .site-content-inner -->
	</div><!-- .site-content -->
</div>
<script type="text/javascript" src="../../js/client/pickup-steps.js"></script>
<script src="../../js/client/location-address.js"></script>