@{
	ViewData["Title"] = "Pickup";
	ViewData["BannerTitle"] = "Schedule a Pickup";
}
@section toggleService{
<style>
	.tg-service::after {
		top: 20px !important;
	}

	.tg-pattribute::after {
		top: 18px !important;
	}

	div#service-list>ul[data-popper-placement="top-start"] {
		transform: translate3d(0px, -51px, 0px) !important;
	}

	div#product-list>ul[data-popper-placement="top-start"] {
		transform: translate3d(0px, -248px, 0px) !important;
	}

	div#service-list>ul[data-popper-placement="bottom-start"],
	div#product-cate-list>ul[data-popper-placement="bottom-start"],
	div#sender-province>ul[data-popper-placement="bottom-start"],
	div#sender-district>ul[data-popper-placement="bottom-start"],
	div#sender-ward>ul[data-popper-placement="bottom-start"],
	.dropdown-receiver>ul[data-popper-placement="bottom-start"] {
		transform: translate3d(0px, 51px, 0px) !important;
	}

	#service-list ul>div li a:hover,
	#product-cate-list ul>div li a:hover {
		background-color: transparent;
		background-image: none;
	}

	#service-list ul>div li:hover,
	#product-cate-list ul>div li:hover .ul-dropdown li>div li:hover {
		background-color: #ffdc39 !important;
		color: #fff !important;
	}

	.postalservice table.shop_table td {
		border-top: none !important;
	}
</style>
}
<div id="content-wrapper" class="site-content-wrapper">
	<div id="content" class="site-content ">
		<div id="content-inner" class="site-content-inner ">
			<div id="primary" class="content-area  ">
				<main id="main" class="site-main">
					<article id="post-8187" class="post-8187 page type-page status-publish hentry">
						<header class="single-entry-header themestek-hide">
							<h2 class="entry-title">Quote Form</h2>
						</header><!-- .entry-header -->
						<!--form-->
						<form class="postoffice-form">
							<div class="entry-content">
								<div data-vc-full-width="true" data-vc-full-width-init="true"
									class="themestek-row wpb_row vc_row-fluid vc_column-gap-0px themestek-total-col-2 themestek-zindex-0 themestek-bgimage-position-center_center vc_row-o-content-bottom"
									style="position: relative; left: 0px; box-sizing: border-box; width: 1440px; padding-left: 0px; padding-right: 0px;">
									<div class="vc_row container vc_column-gap-0px vc_row vc_row-flex">
										<!--steps-->
										<div class="d-flex justify-content-around mb-5 order-steps"
											style="width: 100%;">
											<div class="row">
												<div class="align-items-center d-flex justify-content-center mr-2"
													id="processing-step-1">
													<p class="m-0">1</p>
												</div>
												<p class="col-10 m-0">Select service</p>
											</div>
											<div class="row">
												<div class="align-items-center d-flex justify-content-center mr-2"
													id="processing-step-2">
													<p class="m-0">2</p>
												</div>
												<p class="col-10 m-0">Fill sender information</p>
											</div>
											<div class="justify-content-center row" style="width: 30%;">
												<div class="align-items-center d-flex justify-content-center mr-2"
													id="processing-step-3">
													<p class="m-0">3</p>
												</div>
												<p class="col-10 m-0" style="width: fit-content;">Fill receiver
													information</p>
											</div>
											<div class="row">
												<div class="align-items-center d-flex justify-content-center mr-2"
													id="processing-step-4">
													<p class="m-0">4</p>
												</div>
												<p class="col-10 m-0">Proceed payment</p>
											</div>
											<div class="row">
												<div class="align-items-center d-flex justify-content-center mr-2"
													id="processing-step-5">
													<p class="m-0">5</p>
												</div>
												<p class="col-10 m-0">Completed</p>
											</div>
										</div>
										<div
											class="themestek-column ts-custom-heading-style wpb_column vc_column_container vc_col-sm-8 vc_col-has-fill themestek-zindex-0">
											<div class="vc_column-inner vc_custom_1614156135890 ">
												<div class="wpb_wrapper">
													<div role="form" class="postoffice" id="postoffice-f10177-p8187-o2"
														lang="en-US" dir="ltr">
														<div class="screen-reader-response">
															<p role="status" aria-live="polite" aria-atomic="true"></p>
															<ul></ul>
														</div>
														<div style="display: none;">
															<input type="hidden" name="_postoffice" value="10177">
															<input type="hidden" name="_postoffice_version" value="5.4">
															<input type="hidden" name="_postoffice_locale"
																value="en_US">
															<input type="hidden" name="_postoffice_unit_tag"
																value="postoffice-f10177-p8187-o2">
															<input type="hidden" name="_postoffice_container_post"
																value="8187">
															<input type="hidden" name="_postoffice_posted_data_hash"
																value="">
														</div>
														<div class="main-form">
															<div id="select-service">
																<h3 class="mb-5">SELECT SERVICE</h3>
																<div class="row">
																	<!--pickup or at store-->
																	<div class="col-sm-2">
																		<div class="input-group"
																			style="margin-bottom: 10px !important;">
																			<label for="pickup"
																				style="font-size: 14px;">
																				<input type="radio" name="pickup"
																					id="pickup">
																				Pickup
																			</label>
																		</div>
																	</div>
																	<div class="col-sm-10">
																		<div class="input-group"
																			style="margin-bottom: 10px !important;">
																			<label for="pickup"
																				style="font-size: 14px;">
																				<input type="radio" name="at-branch"
																					id="at-branch">Send at selected
																				branch</label>
																		</div>
																	</div>
																</div>
																<!--service-->
																<div class="row">
																	<div class="col-sm-6">
																		<div class="input-group">
																			<label for="service"
																				style="font-size: 14px;">Select
																				service</label>
																			<div
																				style="border: 1px solid rgba(119, 119, 119, 0.2);line-height: 53px;">
																				<div class="dropdown" id="service-list"
																					style="height: 51px;">
																					<a class="btn dropdown-toggle tg-service"
																						href="#" role="button"
																						id="select-service"
																						data-bs-toggle="dropdown"
																						aria-expanded="false"
																						style="height: 100%; width: 100%;">
																						<button
																							style="background-color: transparent;color: #111;width: 100%;text-align: left;font-size: 13px;"
																							class="btn-sm">Select
																							service</button>
																					</a>
																					<ul class="dropdown-menu p-0"
																						aria-labelledby="select-service"
																						style="height: 142px; width: 100%; border-radius: 0px; line-height: 40px; overflow: hidden;">
																						<li
																							style="padding: 0 20px;font-size: 14px;">
																							--Select service</li>
																						<div
																							style="overflow: hidden scroll;height: 100px;">
																						</div>
																					</ul>
																				</div>
																			</div>
																		</div>
																	</div>
																	<div class="col-sm-6">
																		<div class="input-group">
																			<label for="pickup" style="font-size: 14px;"
																				id="sending-date-label">Pickup
																				date</label>
																			<span
																				class="postoffice-form-control-wrap"><input
																					type="date" name="sending-date"
																					value=""
																					class="postoffice-form-control postoffice-date postoffice-validates-as-date"
																					aria-invalid="false">
																			</span>
																			<script type="text/javascript">
																				var today = new Date();
																				var dd = String(today.getDate()).padStart(2, '0');
																				var mm = String(today.getMonth() + 1).padStart(2, '0');
																				var yyyy = today.getFullYear();

																				today = yyyy + '-' + mm + '-' + dd;
																				$('input[name="sending-date"]').attr('min', today);
																			</script>
																		</div>
																	</div>
																</div>
																<input type="button" value="NEXT" id="btn-service-next">
															</div>
															<div id="sender-info">
																<h3>SENDER INFORMATION</h3>
																<!--sender-->
																<div class="row">
																	<div class="col-sm-12">
																		<div class="row">
																			<div class="col-sm-6">
																				<div class="input-group">
																					<span
																						class="postoffice-form-control-wrap"><input
																							type="text"
																							name="sender-first-name"
																							class="postoffice-form-control postoffice-text"
																							aria-invalid="false"
																							placeholder="First name">
																					</span>
																				</div>
																			</div>
																			<div class="col-sm-6">
																				<div class="input-group">
																					<span
																						class="postoffice-form-control-wrap"><input
																							type="text"
																							name="sender-last-name"
																							class="postoffice-form-control postoffice-text"
																							aria-invalid="false"
																							placeholder="Last name">
																					</span>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
																<div class="row">
																	<div class="col-sm-12">
																		<div class="row">
																			<div class="col-sm-6">
																				<div class="input-group">
																					<span
																						class="postoffice-form-control-wrap"><input
																							type="text"
																							name="from-phone"
																							class="postoffice-form-control postoffice-text"
																							aria-invalid="false"
																							placeholder="Phone">
																					</span>
																				</div>
																			</div>
																			<div class="col-sm-6">
																				<div class="input-group">
																					<span
																						class="postoffice-form-control-wrap"><input
																							type="text"
																							name="from-email"
																							class="postoffice-form-control postoffice-text"
																							aria-invalid="false"
																							placeholder="Email">
																					</span>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
																<div class="row">
																	<label style="font-size: 14px;" class="mb-4">
																		<input type="checkbox" id="chb-company"> This is
																		company address
																	</label>
																</div>
																<div class="row" id="company-info">
																	<div class="col-sm-12">
																		<div class="row">
																			<div class="col-sm-6">
																				<div class="input-group">
																					<span
																						class="postoffice-form-control-wrap"><input
																							type="text"
																							name="company-name"
																							class="postoffice-form-control postoffice-text"
																							aria-invalid="false"
																							placeholder="Company name">
																					</span>
																				</div>
																			</div>
																			<div class="col-sm-6">
																				<div class="input-group">
																					<span
																						class="postoffice-form-control-wrap"><input
																							type="text"
																							name="company-phone"
																							class="postoffice-form-control postoffice-text"
																							aria-invalid="false"
																							placeholder="Company phone">
																					</span>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
																<div class="row">
																	<div class="col-sm-12">
																		<div class="row">
																			<div class="col-sm-6">
																				<div class="input-group">
																					<span
																						class="postoffice-form-control-wrap"><input
																							type="text"
																							name="from-address"
																							class="postoffice-form-control postoffice-text"
																							aria-invalid="false"
																							placeholder="Address">
																					</span>
																				</div>
																			</div>
																			<div class="col-sm-6">
																				<div class="input-group">
																					<div
																						style="border: 1px solid rgba(119, 119, 119, 0.2);line-height: 53px;">
																						<div class="dropdown"
																							id="sender-province"
																							style="height: 51px;">
																							<a class="btn dropdown-toggle"
																								href="#" role="button"
																								id="select-sender-province"
																								data-bs-toggle="dropdown"
																								aria-expanded="false"
																								style="height: 100%; width: 100%;">
																								<button
																									style="background-color: transparent;color: #111;width: 100%;text-align: left;font-size: 13px;"
																									class="btn-sm"
																									data-province="">Select
																									province</button>
																							</a>
																							<ul class="dropdown-menu p-0"
																								aria-labelledby="select-sender-province"
																								style="height: 182px; width: 100%; border-radius: 0px; line-height: 40px; overflow: hidden;">
																								<li
																									style="padding: 0 20px;font-size: 14px;">
																									--Select province
																								</li>
																								<li
																									style="padding: 0 20px;font-size: 14px;">
																									<input type="text"
																										placeholder="Search"
																										style="height: 40px;padding: 10px;"
																										id="sender-province-search"
																										onkeyup="onLocationSearch(this)">
																								</li>
																								<div style="overflow: hidden scroll;height: 100px;"
																									id="sender-province-list">
																								</div>
																							</ul>
																						</div>
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
																<div class="row">
																	<div class="col-sm-12">
																		<div class="row">
																			<div class="col-sm-6">
																				<div class="input-group">
																					<div
																						style="border: 1px solid rgba(119, 119, 119, 0.2);line-height: 53px;">
																						<div class="dropdown"
																							id="sender-district"
																							style="height: 51px;">
																							<a class="btn dropdown-toggle"
																								href="#" role="button"
																								id="select-sender-district"
																								data-bs-toggle="dropdown"
																								aria-expanded="false"
																								style="height: 100%; width: 100%;">
																								<button
																									style="background-color: transparent;color: #111;width: 100%;text-align: left;font-size: 13px;"
																									class="btn-sm"
																									data-district="">Select
																									district</button>
																							</a>
																							<ul class="dropdown-menu p-0"
																								aria-labelledby="select-sender-district"
																								style="height: 182px; width: 100%; border-radius: 0px; line-height: 40px; overflow: hidden;">
																								<li
																									style="padding: 0 20px;font-size: 14px;">
																									--Select district
																								</li>
																								<li
																									style="padding: 0 20px;font-size: 14px;">
																									<input type="text"
																										placeholder="Search"
																										style="height: 40px;padding: 10px;"
																										id="sender-district-search"
																										onkeyup="onLocationSearch(this)">
																								</li>
																								<div style="overflow: hidden scroll;height: 100px;"
																									id="sender-district-list">
																								</div>
																							</ul>
																						</div>
																					</div>
																				</div>
																			</div>
																			<div class="col-sm-6">
																				<div class="input-group">
																					<div
																						style="border: 1px solid rgba(119, 119, 119, 0.2);line-height: 53px;">
																						<div class="dropdown"
																							id="sender-ward"
																							style="height: 51px;">
																							<a class="btn dropdown-toggle"
																								href="#" role="button"
																								id="select-sender-ward"
																								data-bs-toggle="dropdown"
																								aria-expanded="false"
																								style="height: 100%; width: 100%;">
																								<button
																									style="background-color: transparent;color: #111;width: 100%;text-align: left;font-size: 13px;"
																									class="btn-sm"
																									data-ward="">Select
																									ward</button>
																							</a>
																							<ul class="dropdown-menu p-0"
																								aria-labelledby="select-sender-ward"
																								style="height: 182px; width: 100%; border-radius: 0px; line-height: 40px; overflow: hidden;">
																								<li
																									style="padding: 0 20px;font-size: 14px;">
																									--Select ward</li>
																								<li
																									style="padding: 0 20px;font-size: 14px;">
																									<input type="text"
																										placeholder="Search"
																										style="height: 40px;padding: 10px;"
																										id="sender-ward-search"
																										onkeyup="onLocationSearch(this)">
																								</li>
																								<div style="overflow: hidden scroll;height: 100px;"
																									id="sender-ward-list">
																								</div>
																							</ul>
																						</div>
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
																<div class="row mb-5">
																	<div class="col-sm-12">
																		<div class="row justify-content-end">
																			<div class="col-sm-6">
																				<div class="input-group">
																					<span
																						class="postoffice-form-control-wrap">
																						<p id="pickup-fee"
																							data-pickup-fee="0"><span></span>
																						</p>
																					</span>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
																<input type="button" value="BACK" id="btn-sender-back"
																	class="mr-3">
																<input type="button" value="NEXT" id="btn-sender-next">
															</div>
															<div id="receiver-info">
																<h3>RECEIVER INFORMATION</h3>
																<!--receiver-->
																<div class="row mb-3">
																	<div class="col-sm-12">
																		<div class="row">
																			<div class="col-sm-6">
																				<label>
																					<input type="radio"
																						id="single-person"> Single
																					person
																				</label>
																			</div>
																			<div class="col-sm-6">
																				<label>
																					<input type="radio"
																						id="multiple-people"> Multiple
																					people
																				</label>
																			</div>
																		</div>
																	</div>
																</div>
																<div id="add-person-info" class="mb-5">
																	<div id="add-person-info-1" class="mb-5">
																		<div class="row">
																			<div class="col-sm-12">
																				<div class="row">
																					<div class="col-sm-6">
																						<div class="input-group">
																							<span
																								class="postoffice-form-control-wrap"><input
																									type="text"
																									name="receiver-first-name[1]"
																									class="postoffice-form-control postoffice-text"
																									aria-invalid="false"
																									placeholder="First name">
																							</span>
																						</div>
																					</div>
																					<div class="col-sm-6">
																						<div class="input-group">
																							<span
																								class="postoffice-form-control-wrap"><input
																									type="text"
																									name="receiver-last-name[1]"
																									class="postoffice-form-control postoffice-text"
																									aria-invalid="false"
																									placeholder="Last name">
																							</span>
																						</div>
																					</div>
																				</div>
																			</div>
																		</div>
																		<div class="row">
																			<div class="col-sm-12">
																				<div class="row">
																					<div class="col-sm-6">
																						<div class="input-group">
																							<span
																								class="postoffice-form-control-wrap"><input
																									type="text"
																									name="to-phone[1]"
																									class="postoffice-form-control postoffice-text"
																									aria-invalid="false"
																									placeholder="Phone">
																							</span>
																						</div>
																					</div>
																					<div class="col-sm-6">
																						<div class="input-group">
																							<span
																								class="postoffice-form-control-wrap"><input
																									type="text"
																									name="to-email[1]"
																									class="postoffice-form-control postoffice-text"
																									aria-invalid="false"
																									placeholder="Email">
																							</span>
																						</div>
																					</div>
																				</div>
																			</div>
																		</div>
																		<div class="row">
																			<div class="col-sm-12">
																				<div class="row">
																					<div class="col-sm-6">
																						<div class="input-group">
																							<span
																								class="postoffice-form-control-wrap"><input
																									type="text"
																									name="to-address[1]"
																									class="postoffice-form-control postoffice-text"
																									aria-invalid="false"
																									placeholder="Address">
																							</span>
																						</div>
																					</div>
																					<div class="col-sm-6">
																						<div class="input-group">
																							<div
																								style="border: 1px solid rgba(119, 119, 119, 0.2);line-height: 53px;">
																								<div class="dropdown dropdown-receiver"
																									id="receiver-province-1"
																									style="height: 51px;">
																									<a class="btn dropdown-toggle"
																										href="#"
																										role="button"
																										id="select-receiver-province-1"
																										data-bs-toggle="dropdown"
																										aria-expanded="false"
																										style="height: 100%; width: 100%;">
																										<button
																											style="background-color: transparent;color: #111;width: 100%;text-align: left;font-size: 13px;"
																											class="btn-sm"
																											data-province="">Select
																											province</button>
																									</a>
																									<ul class="dropdown-menu p-0"
																										aria-labelledby="select-receiver-province-1"
																										style="height: 182px; width: 100%; border-radius: 0px; line-height: 40px; overflow: hidden;">
																										<li
																											style="padding: 0 20px;font-size: 14px;">
																											--Select
																											province
																										</li>
																										<li
																											style="padding: 0 20px;font-size: 14px;">
																											<input
																												type="text"
																												placeholder="Search"
																												style="height: 40px;padding: 10px;"
																												id="receiver-province-search-1"
																												onkeyup="onLocationSearch(this)">
																										</li>
																										<div style="overflow: hidden scroll;height: 100px;"
																											id="receiver-province-list-1">
																										</div>
																									</ul>
																								</div>
																							</div>
																						</div>
																					</div>
																				</div>
																			</div>
																		</div>
																		<div class="row">
																			<div class="col-sm-12">
																				<div class="row">
																					<div class="col-sm-6">
																						<div class="input-group">
																							<div
																								style="border: 1px solid rgba(119, 119, 119, 0.2);line-height: 53px;">
																								<div class="dropdown dropdown-receiver"
																									id="receiver-district-1"
																									style="height: 51px;">
																									<a class="btn dropdown-toggle"
																										href="#"
																										role="button"
																										id="select-receiver-district-1"
																										data-bs-toggle="dropdown"
																										aria-expanded="false"
																										style="height: 100%; width: 100%;">
																										<button
																											style="background-color: transparent;color: #111;width: 100%;text-align: left;font-size: 13px;"
																											class="btn-sm"
																											data-district="">Select
																											district</button>
																									</a>
																									<ul class="dropdown-menu p-0"
																										aria-labelledby="select-receiver-district-1"
																										style="height: 182px; width: 100%; border-radius: 0px; line-height: 40px; overflow: hidden;">
																										<li
																											style="padding: 0 20px;font-size: 14px;">
																											--Select
																											district
																										</li>
																										<li
																											style="padding: 0 20px;font-size: 14px;">
																											<input
																												type="text"
																												placeholder="Search"
																												style="height: 40px;padding: 10px;"
																												id="receiver-district-search-1"
																												onkeyup="onLocationSearch(this)">
																										</li>
																										<div style="overflow: hidden scroll;height: 100px;"
																											id="receiver-district-list-1">
																										</div>
																									</ul>
																								</div>
																							</div>
																						</div>
																					</div>
																					<div class="col-sm-6">
																						<div class="input-group">
																							<div
																								style="border: 1px solid rgba(119, 119, 119, 0.2);line-height: 53px;">
																								<div class="dropdown dropdown-receiver"
																									id="receiver-ward-1"
																									style="height: 51px;">
																									<a class="btn dropdown-toggle"
																										href="#"
																										role="button"
																										id="select-receiver-ward-1"
																										data-bs-toggle="dropdown"
																										aria-expanded="false"
																										style="height: 100%; width: 100%;">
																										<button
																											style="background-color: transparent;color: #111;width: 100%;text-align: left;font-size: 13px;"
																											class="btn-sm"
																											data-ward="">Select
																											ward</button>
																									</a>
																									<ul class="dropdown-menu p-0"
																										aria-labelledby="select-receiver-ward-1"
																										style="height: 182px; width: 100%; border-radius: 0px; line-height: 40px; overflow: hidden;">
																										<li
																											style="padding: 0 20px;font-size: 14px;">
																											--Select
																											ward</li>
																										<li
																											style="padding: 0 20px;font-size: 14px;">
																											<input
																												type="text"
																												placeholder="Search"
																												style="height: 40px;padding: 10px;"
																												id="receiver-ward-search-1"
																												onkeyup="onLocationSearch(this)">
																										</li>
																										<div style="overflow: hidden scroll;height: 100px;"
																											id="receiver-ward-list-1">
																										</div>
																									</ul>
																								</div>
																							</div>
																						</div>
																					</div>
																				</div>
																				<div class="row justify-content-between"
																					style="padding: 0 12px;">
																					<div class="col-sm-2 p-0">
																						<div class="input-group">
																							<span
																								class="postoffice-form-control-wrap"><input
																									type="text"
																									name="pin-code[1]"
																									class="postoffice-form-control postoffice-text"
																									aria-invalid="false"
																									placeholder="Pin code">
																							</span>
																						</div>
																					</div>
																					<div class="col-sm-2 p-0">
																						<div class="input-group">
																							<span
																								class="postoffice-form-control-wrap"><input
																									type="text"
																									name="weight[1]"
																									class="postoffice-form-control postoffice-text"
																									aria-invalid="false"
																									placeholder="Weight">
																							</span>
																						</div>
																					</div>
																					<div class="col-sm-2 p-0">
																						<div class="input-group">
																							<span
																								class="postoffice-form-control-wrap"><input
																									type="text"
																									name="length[1]"
																									class="postoffice-form-control postoffice-text"
																									aria-invalid="false"
																									placeholder="Length">
																							</span>
																						</div>
																					</div>
																					<div class="col-sm-2 p-0">
																						<div class="input-group">
																							<span
																								class="postoffice-form-control-wrap"><input
																									type="text"
																									name="width[1]"
																									class="postoffice-form-control postoffice-text"
																									aria-invalid="false"
																									placeholder="Width">
																							</span>
																						</div>
																					</div>
																					<div class="col-sm-2 p-0">
																						<div class="input-group">
																							<span
																								class="postoffice-form-control-wrap"><input
																									type="text"
																									name="height[1]"
																									class="postoffice-form-control postoffice-text"
																									aria-invalid="false"
																									placeholder="Height">
																							</span>
																						</div>
																					</div>
																				</div>
																			</div>
																		</div>
																		<!--Parcel detail-->
																		<div class="row">
																			<div class="d-flex"
																				style="padding: 0 15px;">
																				<label for="parcel"
																					style="font-size: 14px;"
																					class="mr-2">Add parcel
																					details</label>
																				<div class="d-flex">
																					<button type="button"
																						class="align-items-center btn d-flex justify-content-center p-0"
																						id="btn-add-more-parcel-1"
																						style=" border-radius: 50%; height: 20px;width: 20px;background-color: rgb(255, 205, 57);"><i
																							class="fa-solid fa-plus"
																							style="font-size: 10px;"></i></button>
																				</div>
																			</div>
																			<div class="col-sm-12" id="parcel-detail-1">
																				<div class="row" id="details-1-1">
																					<div class="col-sm-7">
																						<div class="input-group">
																							<span
																								class="postoffice-form-control-wrap"><input
																									type="text"
																									name="name[1][1]"
																									class="postoffice-form-control postoffice-text"
																									aria-invalid="false"
																									placeholder="Name">
																							</span>
																						</div>
																					</div>
																					<div class="col-sm-2">
																						<div class="input-group">
																							<span
																								class="postoffice-form-control-wrap"><input
																									type="text"
																									name="qty[1][1]"
																									class="postoffice-form-control postoffice-text"
																									aria-invalid="false"
																									placeholder="Qty">
																							</span>
																						</div>
																					</div>
																				</div>
																			</div>
																		</div>
																		<!--Notes-->
																		<div class="row">
																			<label for="notes" style="font-size: 14px;"
																				class="col-sm-9">Notes</label>
																			<label for="amount" style="font-size: 14px;"
																				class="col-sm-3">Amount
																				collected</label>
																		</div>
																		<div class="justify-content-between row">
																			<div class="col-sm-9">
																				<div class="input-group">
																					<span
																						class="postoffice-form-control-wrap"><textarea
																							type="text" name="notes[1]"
																							class="postoffice-form-control postoffice-text"
																							aria-invalid="false"
																							placeholder="Write some notes"
																							style="font-size: 12px; height: 53px;"
																							rows="1"></textarea>
																					</span>
																				</div>
																			</div>
																			<div class="col-sm-3">
																				<div class="input-group">
																					<span
																						class="postoffice-form-control-wrap"><input
																							type="text" name="amount[1]"
																							class="postoffice-form-control postoffice-text"
																							aria-invalid="false"
																							placeholder="Up to 3000k">
																					</span>
																				</div>
																			</div>

																		</div>
																		<!--photo-->
																		<div class="row">
																			<div
																				class="align-items-center col-sm-6 d-flex">
																				<div class="input-group"
																					style="margin-bottom: 0 !important;">
																					<label for="pickup"
																						style="font-size: 14px;">Add
																						some photos
																						of pickup stuff</label>
																					<span
																						class="postoffice-form-control-wrap">
																						<input type="file"
																							name="photos[1]" multiple
																							style="font-size: 13px;"
																							id="photos-1"
																							accept="image/*">
																					</span>
																				</div>
																			</div>
																			<div
																				class="align-items-center col-sm-6 d-flex">
																				<div class="input-group"
																					style="margin-bottom: 0 !important;">
																					<label for="pickup"
																						style="font-size: 14px;">Add
																						products such as containers,
																						etc.
																						to this parcel</label>
																					<div style="padding: 10px 0;">
																						<button class="btn mr-1"
																							style="background-color: #ffdc39;height: 30px;font-size: 12px;"
																							type="button"
																							onclick="setModalIndex(1)"
																							id="btn-receiver-add-product-1"
																							data-bs-toggle="modal"
																							data-bs-target="#receiver-add-product-1">
																							<span></span>
																							<i
																								class="fa-solid fa-basket-shopping"></i>
																						</button>
																						<button class="btn btn-danger"
																							style="height: 30px;font-size: 12px;"
																							type="button"
																							id="btn-receiver-clear-product-1"
																							onclick="clearReceiverProducts(1)"><i
																								class="fa-solid fa-trash-can"></i>
																						</button>
																					</div>

																				</div>
																			</div>
																		</div>
																		<!--photos-->
																		<div class="m-0" id="receiver-photo-1">
																			<div id="photo-scroll-1"
																				class="align-items-center d-flex p-0">

																			</div>
																		</div>
																	</div>
																</div>
																<input type="button" value="BACK" id="btn-receiver-back"
																	class="mr-3">
																<input type="button" value="NEXT"
																	id="btn-receiver-next">
															</div>
														</div>
														<div class="postoffice-response-output" aria-hidden="true">
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="themestek-column wpb_column vc_column_container vc_col-sm-4 themestek-zindex-0"
											id="right-image">
											<div class="vc_column-inner vc_custom_1551336698818">
												<div class="wpb_wrapper">
													<div class="wpb_single_image wpb_content_element vc_align_left">
														<figure class="wpb_wrapper vc_figure">
															<div class="vc_single_image-wrapper vc_box_border_grey"><img
																	width="398" height="627"
																	src="https://moversco.themestek.com/demo5/wp-content/uploads/sites/8/2021/02/Quote-new-img.png"
																	class="vc_single_image-img attachment-full" alt=""
																	loading="lazy"
																	srcset="https://moversco.themestek.com/demo5/wp-content/uploads/sites/8/2021/02/Quote-new-img.png 398w, https://moversco.themestek.com/demo5/wp-content/uploads/sites/8/2021/02/Quote-new-img-190x300.png 190w"
																	sizes="(max-width: 398px) 100vw, 398px"
																	data-id="10216">
															</div>
														</figure>
													</div>
												</div>
											</div>
										</div>
										<!--totalCharges decimal
											orderTotal decimal-->

									</div>
								</div>
								<!--payment-->
								<div id="payment-process" class="container">
									<h3>PAYMENT PROCESS</h3>
									<div class="justify-content-between mb-4 row">
										<!--payment method-->
										<div style="box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);padding: 30px 15px;"
											class="col-sm-3 mb-4 mt-5">
											<h5 class="mb-3">Payment Methods</h5>
											<div class="d-flex flex-column justify-content-between">
												<p class="">Choose a method</p>
												<ul class="d-flex flex-column mt-0 nav" style="width: 70%;">
													@*<li class="nav-item">
														<a class="active nav-link" aria-current="page">
															<input type="radio" id="onepay">
															<img src="../../img/defaults/one-pay.png" width="80"
																height="80">
														</a>
													</li>
													<li class="nav-item">
														<a class="active nav-link" aria-current="page">
															<input type="radio" id="momo">
															<img src="../../img/defaults/momo-logo.png" width="40"
																height="40">
														</a>
													</li>*@

													<li class="nav-item">
														<a class="active nav-link" aria-current="page">
															<input type="radio" id="cod">
															<img src="../../img/defaults/cod-logo.jpeg" width="100"
																height="100">
														</a>
													</li>
												</ul>
											</div>
										</div>

										<div class="col-sm-4 mb-4 mt-5"
											style="box-shadow: 0 3px 10px rgb(0 0 0 / 20%); padding: 30px 15px;">
											<!--service Info-->
											<div class="row">
												<h5>Service</h5>
												<div id="payment-service">
													<p>Name: <span></span></p>
													<p>Total pickup fee: <span></span></p>
													<p>Total bill: <span></span></p>
													<p class="d-flex justify-content-between mb-1">
														<span>Pickup date: <span></span></span>
													</p>
												</div>
											</div>
										</div>
										<div style="box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);padding: 30px 15px;"
											class="col-sm-4 mb-4 mt-5">
											<h5>Sender Information</h5>
											<div id="payment-sender">
												<p>Name: <span> </span></p>
												<p>Email: <span></span></p>
												<p>Phone: <span></span></p>
												<p>Address: <span>, undefined, undefined, undefined</span></p>
											</div>
										</div>
									</div>
									<div class="row mb-5">
										<div class="d-flex">
											<input type="button" value="BACK" id="btn-payment-back" class="mr-3">
											<div class="input-button input-group"
												style="margin-bottom: 0px !important;">
												<input type="button" value="PAY" id="btn-pay"
													class="postoffice-form-control postoffice-submit"
													aria-invalid="false">
												<span class="ajax-loader"></span>
											</div>
										</div>
									</div>
									<div id="payment-receiver">

									</div>

								</div>
								<!--result-->
								<div id="order-result" class="container">
									<h3 class="mb-5">ORDER(S) RESULT</h3>
									<div class="row mb-5">
										<div id="order-result">
											
										</div>
									</div>


								</div>
								<div class="vc_row-full-width vc_clearfix"></div>
								<div
									class="themestek-row wpb_row vc_row-fluid vc_custom_1551336907418 vc_column-gap-0px themestek-total-col-1 themestek-zindex-0 container themestek-bgimage-position-center_center">
									<div class="vc_column-gap-0px vc_row">
										<div
											class="themestek-column wpb_column vc_column_container vc_col-sm-12 themestek-zindex-0">
											<div class="vc_column-inner  ">
												<div class="wpb_wrapper">
													<div
														class="themestek-boxes themestek-boxes-client themestek-boxes-view-default themestek-client-style-1 themestek-boxes-col-five themestek-boxes-sortable-no themestek-boxes-textalign-center themestek-boxes-sortablebutton-">
														<div
															class="themestek-boxes-inner themestek-boxes-client-inner ">

															<div
																class="row multi-columns-row themestek-boxes-row-wrapper">
																<div
																	class="themestek-box-col-wrapper col-lg-20percent col-sm-4 col-md-4 col-xs-12 ">
																	<div class="themestek-client-logo-box-w">
																		<div class="themestek-client-logo-tooltip"
																			data-tooltip="Client-12">
																			<div
																				class="themestek-box themestek-box-client themestek-clientbox-style-1 ">

																				<span class="themestek-item-thumbnail">
																					<span
																						class="themestek-item-thumbnail-inner">
																						<img width="185" height="65"
																							src="https://moversco.themestek.com/demo5/wp-content/uploads/sites/8/2021/01/Client-12.png"
																							class="attachment-full size-full wp-post-image"
																							alt="">
																					</span>
																				</span>
																			</div>
																		</div>
																	</div><!-- .themestek-client-logo-box-w -->
																</div>
																<div
																	class="themestek-box-col-wrapper col-lg-20percent col-sm-4 col-md-4 col-xs-12 ">
																	<div class="themestek-client-logo-box-w">
																		<div class="themestek-client-logo-tooltip"
																			data-tooltip="Client-11">
																			<div
																				class="themestek-box themestek-box-client themestek-clientbox-style-1 ">

																				<span class="themestek-item-thumbnail">
																					<span
																						class="themestek-item-thumbnail-inner">
																						<img width="185" height="65"
																							src="https://moversco.themestek.com/demo5/wp-content/uploads/sites/8/2021/01/Client-11.png"
																							class="attachment-full size-full wp-post-image"
																							alt="">
																					</span>
																				</span>
																			</div>
																		</div>
																	</div><!-- .themestek-client-logo-box-w -->
																</div>
																<div
																	class="themestek-box-col-wrapper col-lg-20percent col-sm-4 col-md-4 col-xs-12 ">
																	<div class="themestek-client-logo-box-w">
																		<div class="themestek-client-logo-tooltip"
																			data-tooltip="Client-10">
																			<div
																				class="themestek-box themestek-box-client themestek-clientbox-style-1 ">

																				<span class="themestek-item-thumbnail">
																					<span
																						class="themestek-item-thumbnail-inner">
																						<img width="185" height="65"
																							src="https://moversco.themestek.com/demo5/wp-content/uploads/sites/8/2021/01/Client-10.png"
																							class="attachment-full size-full wp-post-image"
																							alt="">
																					</span>
																				</span>
																			</div>
																		</div>
																	</div><!-- .themestek-client-logo-box-w -->
																</div>
																<div
																	class="themestek-box-col-wrapper col-lg-20percent col-sm-4 col-md-4 col-xs-12 ">
																	<div class="themestek-client-logo-box-w">
																		<div class="themestek-client-logo-tooltip"
																			data-tooltip="Client-09">
																			<div
																				class="themestek-box themestek-box-client themestek-clientbox-style-1 ">

																				<span class="themestek-item-thumbnail">
																					<span
																						class="themestek-item-thumbnail-inner">
																						<img width="185" height="65"
																							src="https://moversco.themestek.com/demo5/wp-content/uploads/sites/8/2021/01/Client-09.png"
																							class="attachment-full size-full wp-post-image"
																							alt="">
																					</span>
																				</span>
																			</div>
																		</div>
																	</div><!-- .themestek-client-logo-box-w -->
																</div>
																<div
																	class="themestek-box-col-wrapper col-lg-20percent col-sm-4 col-md-4 col-xs-12 ">
																	<div class="themestek-client-logo-box-w">
																		<div class="themestek-client-logo-tooltip"
																			data-tooltip="Client-08">
																			<div
																				class="themestek-box themestek-box-client themestek-clientbox-style-1 ">

																				<span class="themestek-item-thumbnail">
																					<span
																						class="themestek-item-thumbnail-inner">
																						<img width="185" height="65"
																							src="https://moversco.themestek.com/demo5/wp-content/uploads/sites/8/2021/01/Client-08.png"
																							class="attachment-full size-full wp-post-image"
																							alt="">
																					</span>
																				</span>
																			</div>
																		</div>
																	</div><!-- .themestek-client-logo-box-w -->
																</div>
															</div>
														</div><!-- .themestek-boxes-inner -->
													</div><!-- .themestek-boxes -->
												</div>
											</div>
										</div>
									</div>
								</div>
							</div><!-- .entry-content -->
						</form>
					</article><!-- #post-## -->
				</main><!-- #main .site-main -->
			</div><!-- #primary .content-area -->
		</div><!-- .site-content-inner -->
	</div><!-- .site-content -->
</div>
<script type="text/javascript" src="../../js/client/client-cookies.js"></script>
<script type="text/javascript" src="../../js/client/pickup-steps.js"></script>
<script>
	if(userLoggedinId != null && parseInt(userLoggedinId) != 0){
		let branchCookie = checkCookie()
		if (branchCookie == null) {
			$('.postoffice-form').addClass('disable-section')
			toastAlert("Select branch first", "You must choose branch before placing an order", warning, false)
		}
	}
</script>