@{
    ViewData["Title"] = "PinCode";
    ViewData["BannerTitle"] = "Find a pin code";
}
<div id="content-wrapper" class="site-content-wrapper">
    <div id="content" class="site-content ">
        <div id="content-inner" class="site-content-inner ">
            <div id="primary" class="content-area  ">
                <main id="main" class="site-main">
                    <div data-vc-full-width="true" data-vc-full-width-init="true"
                        class="themestek-row vc_row-fluid wpb_row"
                        style="position: relative; left: 0px; box-sizing: border-box; width: 1440px; padding-left: 0px; padding-right: 0px;">
                        <div class="vc_row container vc_column-gap-0px vc_row vc_row-flex" style="width: 80%;">
                            <div
                                class="themestek-column ts-custom-heading-style wpb_column vc_column_container vc_col-sm-8 vc_col-has-fill themestek-zindex-0">
                                <div class="vc_column-inner vc_custom_1614156135890 ">
                                    <div class="wpb_wrapper" style="">
                                        <div role="form" class="post-office" id="post-office-f10177-p8187-o2" lang="en-US"
                                            dir="ltr">
                                            <div class="main-form">
                                                <div>
                                                    <h3 class="mb-5">Find a pin code</h3>
                                                    <div class="mb-5 row">
                                                        <div class="col-sm-10">
                                                            <div class="input-group" style="">
                                                                <span class="post-office-form-control-wrap"
                                                                    style="width: 100%;">
                                                                    <input type="text" name="pin-code"
                                                                        class="post-office-form-control post-office-text"
                                                                        aria-invalid="false"
                                                                        placeholder="Search pin code…" style="">
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-2">
                                                            <div class="input-group">
                                                                <input type="button" value="SEARCH"
                                                                    id="btn-pincode-search" style="padding: 16px 24px;">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row"
                                                        style="box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);height: fit-content;margin: 0;position: relative;">
                                                        <div style="padding: 30px 20px;">
                                                            <div class="row">
                                                                <p>You entered: <span>90202</span></p>
                                                            </div>
                                                            <div class="row">
                                                                <p class="col-sm-6">Result: <span>HCMC</span></p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="themestek-column wpb_column vc_column_container vc_col-sm-4 themestek-zindex-0"
                                id="right-image">
                                <div class="vc_column-inner vc_custom_1551336698818">
                                    <div class="wpb_wrapper">
                                        <div class="wpb_single_image wpb_content_element vc_align_left">
                                            <figure class="wpb_wrapper vc_figure">
                                                <div class="vc_single_image-wrapper vc_box_border_grey"><img width="398"
                                                        height="627"
                                                        src="https://moversco.themestek.com/demo5/wp-content/uploads/sites/8/2021/02/Quote-new-img.png"
                                                        class="vc_single_image-img attachment-full" alt=""
                                                        loading="lazy"
                                                        srcset="https://moversco.themestek.com/demo5/wp-content/uploads/sites/8/2021/02/Quote-new-img.png 398w, https://moversco.themestek.com/demo5/wp-content/uploads/sites/8/2021/02/Quote-new-img-190x300.png 190w"
                                                        sizes="(max-width: 398px) 100vw, 398px" data-id="10216">
                                                </div>
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main><!-- #main .site-main -->
            </div><!-- #primary .content-area -->
        </div><!-- .site-content-inner -->
    </div><!-- .site-content -->
</div>