<h3 class="mb-4">Bills</h3>
<table class="mb-5 table table-striped table-warning">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@@mdo</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@@fat</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Larry the Bird</td>
            <td>Larry the Bird</td>
            <td>@@twitter</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Larry the Bird</td>
            <td>Larry the Bird</td>
            <td>@@twitter</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Larry the Bird</td>
            <td>Larry the Bird</td>
            <td>@@twitter</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Larry the Bird</td>
            <td>Larry the Bird</td>
            <td>@@twitter</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Larry the Bird</td>
            <td>Larry the Bird</td>
            <td>@@twitter</td>
        </tr>
    </tbody>
</table>
<!--pagination-->
<div class="d-flex justify-content-end" style="font-size: 14px;">
    <div style="/* background-color: #ffdc39; */color: #ffdc39;width: 35px;height: 35px;border-radius: 50%;margin: 0px 3px;"
        class="align-items-center d-flex justify-content-center">
        <i class="fa-solid fa-chevron-left"></i>
    </div>
    <div style="background-color: #ffdc39;color: white;width: 35px;height: 35px;border-radius: 50%;margin: 0px 3px;"
        class="align-items-center d-flex justify-content-center">1</div>
    <div style="background-color: #f2e6c3;color: #111;width: 35px;height: 35px;border-radius: 50%;margin: 0px 3px;"
        class="align-items-center d-flex justify-content-center">2</div>
    <div style="background-color: #f2e6c3;color: #111;width: 35px;height: 35px;border-radius: 50%;margin: 0px 3px;"
        class="align-items-center d-flex justify-content-center">...</div>
    <div style="background-color: #f2e6c3;color: #111;width: 35px;height: 35px;border-radius: 50%;margin: 0px 3px;"
        class="align-items-center d-flex justify-content-center">5</div>
    <div style="/* background-color: #ffdc39; */color: #ffdc39;width: 35px;height: 35px;border-radius: 50%;margin: 0px 3px;"
        class="align-items-center d-flex justify-content-center">
        <i class="fa-solid fa-chevron-right"></i>
    </div>
</div>