<footer id="colophon" class="site-footer ">
    <div class="footer_inner_wrapper footer themestek-bg themestek-bgcolor-darkgrey themestek-bgimage-no">
        <div class="site-footer-bg-layer themestek-bg-layer"></div>
        <div class="site-footer-w">
            <div class="footer-rows">
                <div class="footer-rows-inner">
                    <div id="first-footer"
                        class="sidebar-container first-footer  themestek-bg themestek-bgcolor-transparent themestek-textcolor-white themestek-bgimage-no"
                        role="complementary">
                        <div class="first-footer-bg-layer themestek-bg-layer"></div>
                        <div class="container">
                            <div class="first-footer-inner">
                                <div class="row multi-columns-row">
                                    <div class="widget-area col-xs-12 col-sm-4 col-md-4 col-lg-4 first-widget-area">
                                        <aside id="text-2" class="widget widget_text">
                                            <div class="widget-as-link ">
                                                <div class="textwidget">
                                                    <div class="ts-footer-contact">
                                                        <div
                                                            class="themestek-vc_icon_element themestek-vc_icon_element-outer themestek-vc_icon_element-align-left ">
                                                            <div
                                                                class="themestek-vc_icon_element-inner  themestek-vc_icon_element-color-skincolor themestek-vc_icon_element-size-md themestek-vc_icon_element-style- themestek-vc_icon_element-background-color-grey">
                                                                <span
                                                                    class="themestek-vc_icon_element-icon themifyicon ti-headphone"></span>
                                                            </div>
                                                        </div>
                                                        <h3 style="text-align:left;" class="themestek-custom-heading ">
                                                            <strong>Phone:</strong><br />
                                                            (719) 445-2808</h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </aside>
                                    </div><!-- .widget-area -->
                                    <div class="widget-area col-xs-12 col-sm-4 col-md-4 col-lg-4 first-widget-area">
                                        <aside id="enhancedtextwidget-2"
                                            class="widget widget_text enhanced-text-widget">
                                            <div class="widget-as-link ">
                                                <div class="textwidget widget-text">
                                                    <div class="ts-footer-contact">
                                                        <div
                                                            class="themestek-vc_icon_element themestek-vc_icon_element-outer themestek-vc_icon_element-align-left ">
                                                            <div
                                                                class="themestek-vc_icon_element-inner  themestek-vc_icon_element-color-skincolor themestek-vc_icon_element-size-md themestek-vc_icon_element-style- themestek-vc_icon_element-background-color-grey">
                                                                <span
                                                                    class="themestek-vc_icon_element-icon themifyicon ti-location-pin"></span>
                                                            </div>
                                                        </div>
                                                        <h3 style="text-align:left;" class="themestek-custom-heading ">
                                                            <strong>Address:</strong><br />
                                                            4578 Marmora Road</h3>

                                                    </div>
                                                </div>
                                            </div>
                                        </aside>
                                    </div><!-- .widget-area -->
                                    <div class="widget-area col-xs-12 col-sm-4 col-md-4 col-lg-4 first-widget-area">
                                        <aside id="enhancedtextwidget-3"
                                            class="widget widget_text enhanced-text-widget">
                                            <div class="widget-as-link ">
                                                <div class="textwidget widget-text">
                                                    <div class="ts-footer-contact">
                                                        <div
                                                            class="themestek-vc_icon_element themestek-vc_icon_element-outer themestek-vc_icon_element-align-left ">
                                                            <div
                                                                class="themestek-vc_icon_element-inner  themestek-vc_icon_element-color-skincolor themestek-vc_icon_element-size-md themestek-vc_icon_element-style- themestek-vc_icon_element-background-color-grey">
                                                                <span
                                                                    class="themestek-vc_icon_element-icon themifyicon ti-email"></span>
                                                            </div>
                                                        </div>
                                                        <h3 style="text-align:left;" class="themestek-custom-heading ">
                                                            <strong>E-mail: </strong><br />info@demolink.org</h3>

                                                    </div>
                                                </div>
                                            </div>
                                        </aside>
                                    </div><!-- .widget-area -->
                                </div><!-- .row.multi-columns-row -->
                            </div><!-- .first-footer-inner -->
                        </div><!--  -->
                    </div><!-- #secondary -->
                    <div id="second-footer"
                        class="sidebar-container second-footer themestek-bg themestek-bgcolor-transparent themestek-textcolor-white themestek-bgimage-no"
                        role="complementary">
                        <div class="second-footer-bg-layer themestek-bg-layer"></div>
                        <div class="container">
                            <div class="second-footer-inner">
                                <div class="row multi-columns-row">
                                    <div class="widget-area col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                        <aside id="enhancedtextwidget-4"
                                            class="widget widget_text enhanced-text-widget">
                                            <div class="widget-as-link ">
                                                <div class="textwidget widget-text" style="white-space: normal;">
                                                    <div class="footerlogo"><img
                                                            src="../../img/defaults/logo-dark.png" alt="moversco"
                                                            height="54" /></div>
                                                    Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                                                    labore et dolore.Duis aute irure dolor in reprehenderit in voluptate
                                                    velit.
                                                    <div class="themestek-social-links-wrapper">
                                                        <ul class="social-icons">
                                                            <li class="themestek-social-facebook">
                                                                <a class=" tooltip-top" target="_blank" href="#">
                                                                    <i class="themestek-moversco-icon-facebook"></i>
                                                                </a>
                                                            </li>
                                                            <li class="themestek-social-twitter">
                                                                <a class=" tooltip-top" target="_blank" href="#">
                                                                    <i class="themestek-moversco-icon-twitter"></i>
                                                                </a>
                                                            </li>
                                                            <li class="themestek-social-instagram">
                                                                <a class=" tooltip-top" target="_blank" href="#">
                                                                    <i class="themestek-moversco-icon-instagram"></i>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </aside>
                                    </div><!-- .widget-area -->
                                    <div class="widget-area col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                        <aside id="nav_menu-2" class="widget widget_nav_menu">
                                            <div class="widget-as-link ">
                                                <h3 class="widget-title">QUICK LINKS</h3>
                                                <div class="menu-footermenu-container">
                                                    <ul id="menu-footermenu-1" class="menu">
                                                        <li
                                                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-9330">
                                                            <a href="#">About Us</a></li>
                                                        <li
                                                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-9331">
                                                            <a href="#">Our Services</a></li>
                                                        <li
                                                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-9332">
                                                            <a href="#">Get In Touch</a></li>
                                                        <li
                                                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-9333">
                                                            <a href="#">Our Clients</a></li>
                                                        <li
                                                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-9334">
                                                            <a href="#">Download Broucher</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </aside>
                                    </div><!-- .widget-area -->
                                    <div class="widget-area col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                        <aside id="nav_menu-3" class="widget widget_nav_menu">
                                            <div class="widget-as-link ">
                                                <h3 class="widget-title">CATEGORIES</h3>
                                                <div class="menu-footer-category-menu-container">
                                                    <ul id="menu-footer-category-menu-1" class="menu">
                                                        <li
                                                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-9335">
                                                            <a href="#">Express</a></li>
                                                        <li
                                                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-9336">
                                                            <a href="#">Material</a></li>
                                                        <li
                                                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-9337">
                                                            <a href="#">Furniture</a></li>
                                                        <li
                                                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-9338">
                                                            <a href="#">Vehicle</a></li>
                                                        <li
                                                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-9339">
                                                            <a href="#">Commodity</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </aside>
                                    </div><!-- .widget-area -->
                                    <div class="widget-area col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                        <aside id="custom_html-2" class="widget_text widget widget_custom_html">
                                            <div class="widget_text widget-as-link " style="white-space: normal;">
                                                <h3 class="widget-title">NEWSLETTER</h3>
                                                <div class="textwidget custom-html-widget">Accusamus et iusto odio
                                                    praesentium quas molestias except.
                                                    <script>(function () {
                                                            window.mc4wp = window.mc4wp || {
                                                                listeners: [],
                                                                forms: {
                                                                    on: function (evt, cb) {
                                                                        window.mc4wp.listeners.push(
                                                                            {
                                                                                event: evt,
                                                                                callback: cb
                                                                            }
                                                                        );
                                                                    }
                                                                }
                                                            }
                                                        })();
                                                    </script><!-- Mailchimp for WordPress v4.8.3-https://wordpress.org/plugins/mailchimp-for-wp/ -->
                                                    <form id="mc4wp-form-2" class="mc4wp-form mc4wp-form-8812"
                                                        method="post" data-id="8812" data-name="Footer-newsletter">
                                                        <div class="mc4wp-form-fields">
                                                            <p>
                                                                <input type="email" name="EMAIL"
                                                                    placeholder="Your email address" required />
                                                            </p>

                                                            <p>
                                                                <button class="btn" type="submit"
                                                                    style="background-color: #ffdc39;">
                                                                    Subscribe
                                                                </button>
                                                            </p>
                                                        </div><label style="display: none !important;">Leave this field
                                                            empty if you're human: <input type="text"
                                                                name="_mc4wp_honeypot" value="" tabindex="-1"
                                                                autocomplete="off" /></label><input type="hidden"
                                                            name="_mc4wp_timestamp" value="1649078082" /><input
                                                            type="hidden" name="_mc4wp_form_id" value="8812" /><input
                                                            type="hidden" name="_mc4wp_form_element_id"
                                                            value="mc4wp-form-2" />
                                                        <div class="mc4wp-response"></div>
                                                    </form><!-- / Mailchimp for WordPress Plugin -->
                                                </div>
                                            </div>
                                        </aside>
                                    </div><!-- .widget-area -->
                                </div><!-- .row.multi-columns-row -->
                            </div><!-- .second-footer-inner -->
                        </div><!--  -->
                    </div><!-- #secondary -->
                </div><!-- .footer-inner -->
            </div><!-- .footer -->
            <div id="bottom-footer-text"
                class="bottom-footer-text themestek-bottom-footer-text site-info  themestek-bg themestek-bgcolor-transparent themestek-textcolor-white themestek-bgimage-no">
                <div class="bottom-footer-bg-layer themestek-bg-layer"></div>
                <div class="container">
                    <div class="bottom-footer-inner" style="white-space: normal;">
                        <div class="row multi-columns-row">
                            <div class="col-xs-12 col-sm-12 themestek-footer2-left ">
                                Copyright © 2022 <a href="/">Postal Office Services</a>. All
                                rights reserved. </div><!-- footer left -->
                        </div><!-- .row.multi-columns-row -->
                    </div><!-- .bottom-footer-inner -->
                </div><!--  -->
            </div><!-- .footer-text -->
        </div><!-- .footer-inner-wrapper -->
    </div><!-- .site-footer-inner -->
</footer><!-- .site-footer -->
